@import "./codeHighLigh.module.scss";

%code {
  blockquote {
    border-left: 4px solid #ddd;
    margin-left: 0;
    padding-left: 15px;
    color: #777;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 29px auto 0;
    font-weight: bold;
    line-height: 1.8em;
    max-width: 1000px;
    color: #333;
  }

  h1 {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e9ed;
    margin-bottom: 20px;
  }

  h2 {
    margin: 1.618em 0 0.618em;
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.25em;
    margin: 0.5em 0 0.2em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.075em;
  }

  h6 {
    font-size: 1em;
  }

  p {
    word-break: break-all;
    margin: 0 0 1.5em;
    max-width: 1000px;

    img {
      max-width: 100%;
      transform: translate(-50%);
      position: relative;
      margin: 1.3em auto;
      left: 50%;
    }
  }

  a {
    color: #f15623;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    max-width: 1000px;
    margin: 0 auto;
  }

  table,
  td,
  th {
    padding: 5px 15px;
    border-collapse: collapse;
    border: 1px solid #ececec;
  }

  td {
    color: #666;
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }

  pre code {
    overflow: auto;
    padding: 10px;
    display: block;
    margin: 3px auto;
  }

  hr {
    margin: 28px 0;
    border: none;
    border-bottom: 1px solid #f3ecec;
  }

  img {
    max-width: 100%;
  }

  ol,
  ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
    margin: 0 0 1.5em;
    max-width: 1000px;
    line-height: 1.6em;
  }

  li {
    line-height: 1.39em;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @media (max-width: 800px) {
    p {
      word-break: break-all;
      margin: 0 0 1.5em;
      max-width: 1000px;

      img {
        max-width: 100%;
      }
    }
  }
}