@import "../commons/codeStyle.module.scss";
@import "../commons/placeHolder.module.scss";
.commend {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0;
    color: #666;
    font-size: 14px;
    a {
        text-decoration: none;
        color: #f15623;
        font-size: 14px;
    }
    .commend-pub {
        &.commendPlaceholder {
            .commend-avatar-img {
                width: 40px;
                height: 40px;
            }
            .placeHolerName {
                width: 150px;
                height: 18px;
                margin-bottom: 10px;
            }
            .placeHolerTxt {
                height: 15px;
                margin: 5px 0;
                &:last-child {
                    width: 50px;
                }
            }
        }
        transition: all 0.3s ease-in;
        background: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
        padding: 10px 20px;
        margin-bottom: 20px;
        transition: all 0.5s ease-in;
        &.active {
            box-shadow: 0 0 10px rgba(0, 114, 255, 0.2);
            .commend-pub-text {
                display: none;
            }
            .commend-pub-box {
                padding: 10px 0;
                height: auto;
            }
            .commend-pub-uname {
                display: block;
            }
            .commend-pub-btn {
                display: inline-block;
            }
        }
        &.commend-active {
            .commend-replay {
                display: block;
            }
        }
    }
    .commend-pub-info {
        overflow: hidden;
    }
    .commend-pub-text {
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #ccc;
        display: block;
    }
    .commend-pub-uname {
        height: 30px;
        margin-left: 5px;
        line-height: 30px;
        font-size: 20px;
        font-size: 14px;
        color: #f15623;
        cursor: pointer;
        padding: 0 5px;
    }
    .commend-pub-box {
        padding: 0;
        outline: none;
        line-height: 1.6em;
        height: 1px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.2s ease-in;
    }
    .commend-pub-btn {
        cursor: pointer;
        outline: none;
        margin: 0 5px;
        border: 1px solid #f15623;
        padding: 5px 20px;
        font-size: 14px;
        border-radius: 20px;
        background: #f15623;
        color: #fff;
        &:hover {
            background: #f4f4f4;
            color: #666;
        }
    }
    .commend-input {
        margin-left: 50px;
        .comment-handle {
            transition: all ease-out 0.2s;
            height: 0;
            overflow: hidden;
            &.active {
                height: auto;
            }
        }
        .commend-input-box {
            width: 100%;
        }
        input {
            padding: 5px;
            border: none;
            display: block;
            width: 100%;
            margin: 5px;
            outline: none;
            font-size: 14px;
            border-bottom: 1px solid #f4f4f4;
            box-sizing: border-box;
        }
        .textarea {
            box-sizing: border-box;
            font-size: 14px;
            display: block;
            padding: 10px;
            outline: none;
            height: 6em;
            background: #fafafa;
            border: none;
            width: 100%;
            margin: 10px 0px 10px 5px;
        }
    }
    .commend-user {
        overflow: hidden;
    }
    .commend-avatar {
        float: left;
        margin-right: 10px;
        img,
        .commend-avatar-img {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background: url("//avatar.zhuwenlong.com/avatar/");
            background-size: cover;
        }
    }
    .commend-name {
        padding: 0 5px;
        height: 25px;
        line-height: 25px;
       
    }
    .commend-time {
        height: 25px;
        line-height: 25px;
        color: #999;
        font-size: 12px;
    }
    .commend-text {
        max-height: 600px;
        overflow: auto;
        padding: 5px;
        line-height: 1.6em;
        @extend %code;
        p img {
            left: 0;
            transform: none;
        }
    }
    .commend-action {
        margin-top: 10px;
        overflow: hidden;
        color: #999;
    }
    .commend-like {
        float: left;
        cursor: pointer;
        &.active {
            color: #f15623;
        }
        &.active .commend-like-nolike,
        &:hover .commend-like-nolike {
            display: none;
        }
        &.active .commend-like-liked,
        &:hover .commend-like-liked {
            display: inline-block;
            color: #f15623;
        }
    }
    .commend-like-liked,
    .commend-like-nolike {
        display: inline-block;
        padding: 0 5px 0 0;
    }
    .commend-like-liked {
        display: none;
    }
    .commend-replay {
        display: none;
        cursor: pointer;
        float: right;
        &:hover {
            hover {
                color: #f15623;
            }
        }
    }
}

@media (max-width: 800px) {
    .commend {
        .commend-pub {
            padding: 10px 20px;
            margin-bottom: 1px;
        }
        .commend-pub .commend-avatar img {
            height: 30px;
            width: 30px;
        }
        .commend-pub-text {
            height: 30px;
            line-height: 30px;
            font-size: 16px;
        }
        .commend-block {
            padding: 10px 20px;
            margin-bottom: 0;
            border-bottom: 1px solid #f3f3f3;
            border-top: 1px solid #ffffff;
        }
        .commend-avatar img {
            width: 40px;
            height: 40px;
        }
        .commend-name {
            height: 20px;
            line-height: 20px;
        }
        .commend-time {
            height: 20px;
            line-height: 20px;
        }
        .commend-replay {
            display: block;
        }
    }
}