.head {
    background: rgba(0, 0, 0, 1);
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';

    .logo {
        float: left;
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        color: #fff;
        font-size: 26px;
        vertical-align: middle;

        .log_img {
            vertical-align: middle;
            margin-top: -5px;
            display: inline-block;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }

    .nav {
        float: right;
        height: 50px;
        line-height: 50px;
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            float: left;
            list-style: none;

            a {
                font-family: icomoon, Arial, Hiragino Sans GB, 冬青黑, Microsoft YaHei, 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
                text-decoration: none;
                color: #fff;
                margin: 0 8px;
                height: 40px;
                line-height: 50px;
                display: inline-block;
                vertical-align: middle;
                padding: 0 5px;
                border-bottom: 1px solid transparent;
                margin-bottom: 9px;
                position: relative;
                cursor: pointer;

                &::before,
                &::after {
                    content: '';

                    position: absolute;
                    bottom: 0;
                    width: 0;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }

                &.active::before,
                &.active::after,
                &:hover::before,
                &:hover::after {
                    width: 50%;
                    border-bottom: solid 1px #fb9676;
                }

                &.active::before,
                &.active::after {
                    border-bottom: solid 1px #ef9374;
                }

                img {
                    vertical-align: middle;
                }

            }
        }
    }

    .global-nav-btn {
        background: none;
        border: none;
        display: none;
        outline: none;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 35px;
        vertical-align: middle;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 5px;
    }

    .global-nav-btn:after {
        content: ' ';
        width: 40px;
        height: 40px;
        float: right;
        background: url('/static/img/index/bars.svg') no-repeat center;
    }

    &.dark {
        background: rgba(0, 0, 0, 1);
    }
}

@media (max-width: 800px) {
    .head {
        .nav {
            display: none;
            margin-right: 0;
            width: 100%;
            position: absolute;
            top: 50px;
            z-index: 1000;

            li {
                float: none;

                a {
                    display: block;
                    background: rgba(249, 251, 248, 0.8);
                    margin: 0;
                    padding: 0 10px;
                    color: #333;
                    text-align: center;
                    border-bottom: 1px solid #F1F1F1;
                    font-size: 18px;
                }
            }
        }

        &.dark {
            .nav {
                li a {
                    color: #fff;
                    background: rgba(51, 51, 51, 0.95);
                    border-bottom: 1px solid #484848;

                    img {
                        fill: red;
                    }
                }
            }
        }

        .global-nav-btn {
            display: block;
        }

        .global-nav-text {
            overflow: visible;
        }

        .global-nav-text-logo {
            margin-left: 10px;
        }

        .global-nav-text-link {
            display: none;
            margin-right: 0;
            width: 100%;
            position: absolute;
            top: 50px;
            z-index: 1000;
        }

        .global-nav-text-link li a {
            display: block;
            background: rgba(249, 251, 248, 0.8);
            margin: 0;
            padding: 0 10px;
            color: #333;
            text-align: center;
            border-bottom: 1px solid #F1F1F1;
            font-size: 18px;
        }
    }
}