.blog-pages {
    display: block;
    padding: 20px 0;
    // margin: 20px;
    // padding-bottom: 20px;
    text-align: center;
    font-size: 20px;

    a,
    span {
        box-sizing: border-box;
        color: #999;
        text-decoration: none;
        padding: 8px 12px;
        border: 1px solid #fff;
        margin: 0 2px;
        background: white;
        font-size: 14px;

        &.active,
        &:hover {
            border-radius: 2px;
            border: 1px solid #f15623;
            color: #fff;
            background: #f15623;
        }
    }
}