@import '../../../commons/comment.module.scss';
@import '../../../commons/codeStyle.module.scss';
body {
    background: white;
    font-family: "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", Helvetica, Tahoma, "Arial sans-serif";
    -webkit-font-smoothing: antialiased;
    a {
        text-decoration: none;
    }
    padding: 0;
    margin:0;
}

.articleBody {
    padding: 50px 20px 0 20px;
}

.articleContent {
    max-width: 1200px;
    margin: 0 auto;
}

.blog {
    margin-top: 20px;
    margin: 0 auto;
}

.blog {
    position: relative;
    .article {
        margin-top: 20px;
    }
}

.article-tags {
    a {
        display: inline-block;
        padding: 5px 10px;
        background: #eee;
        color: #666;
        text-decoration: none;
        margin: 10px 10px 0 0;
        border-radius: 4px;
    }
    a:hover {
        background: #f15623;
        color: #fff;
    }
}

.article-info {
    // margin-top: 20px;
    // overflow: hidden;
    /*line-height: 1.6em;*/
    max-width: 750px;
    margin: 0 auto;
    font-family: "icomoon";
    // border-bottom: 1px solid #e9e9e9;
    span {
        height: 60px;
        line-height: 60px;
        color: #999;
    }
}

.article-info-icon {
    font-size: 20px;
    margin-right: 5px;
    /*margin-left: 10px;*/
}

.article-content,
.article-info,
.article-tags {
    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    max-width: 750px;
    margin: 0 auto;
    background: white;
    // padding: 0 40px;
    font-size: 16px;
    color: #333;
    line-height: 1.6em;
    box-sizing: border-box;
    /*padding-top: 30px;*/
}

.article-fns {
    text-align: center;
}

.article-fns-block {
    display: inline-block;
    cursor: pointer;
    font-size: 40px;
    height: 75px;
    line-height: 75px;
    color: #999;
    width: 75px;
    margin: 3px 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 100px;
    // padding: 15px;
    position: relative;
    cursor: pointer;
}

.article-fns-block.active,
.article-fns-block:hover {
    color: #f15623;
    span {
        color: #f15623;
    }
    border-color: #f15623;
    border-width: 1px;
    // margin-top: 0;
    // margin-bottom: -3px;
}

.article-content {
    // overflow: hidden;
    padding: 0;
    line-height: 1.6em;
    @extend %code;
}

.blog-money {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    text-align: right;
    padding: 5px 0;
    img {
        width: 700px;
    }
}

.message {
    background: #fafafa;
    // 
    padding: 10px;
    .messageBox {
        max-width: 750px;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .articleBody {
        padding-left: 0;
        padding-right: 0;
    }
    .article-content {
        padding: 0 20px;
        font-size: 16px;
        line-height: 1.8em;
        .commend-avatar {
            img {
                max-width: 100%;
                width: 40px;
                height: 40px;
            }
        }
        h1 {
            /*color:#333;*/
            font-size: 22px;
            margin: 20px 0 10px 0;
            font-weight: bolder;
        }
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 17px;
        }
        h4 {
            font-size: 16px;
        }
        h5 {
            font-size: 15px;
        }
        h6 {
            font-size: 14px;
        }
        code {
            margin: 3px;
        }
    }
    .article-pubinfo {
        margin-bottom: 0px;
    }
    .article-tags {
        padding: 0 20px 20px 20px;
    }
    .article-tags a {
        font-size: 14px;
        padding: 0px 5px;
        border-radius: 0;
    }
    .article-info {
        padding: 0 20px;
        color: #ccc;
    }
    .article-info span {
        margin-right: 10px;
    }
    .article-info span.article-info-icon {
        font-size: 14px;
        margin-right: 5px;
    }
    .article-info-award {
        display: none;
    }
    .article-fns-block {
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        width: 30px;
        border-width: 2px;
    }
    .article-pubinfo {
        margin-bottom: 0px;
    }
    .commend-time {
        height: 20px;
        line-height: 20px;
    }
    .blog-money {
        display: none;
    }
    .article-info {
        padding: 0 20px;
        color: #ccc;
    }
    .article-info span {
        margin-right: 10px;
    }
    .article-info span.article-info-icon {
        font-size: 14px;
        margin-right: 5px;
    }
    .article-info-award {
        display: none;
    }
    .article-tags {
        padding: 0 20px 20px 20px;
    }
    .article-tags a {
        font-size: 14px;
        padding: 0px 5px;
        border-radius: 0;
    }
}