.box {
    background: #f4f4f4;
    .boxContent {
        padding: 50px 10px 0 10px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .messageBody {
        margin-right: 370px;
    }
}

.innderBox {
    position: relative;
    overflow: hidden;
}

.message-info {
    width: 330px;
    position: absolute;
    right: 20px;
    top: 20px;
    // padding: 10px;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in;
}

.message-github {
    .title {
        background-color: #24292e;
        color: rgba(255, 255, 255, 0.75);
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        vertical-align: middle;
        fill: rgba(255, 255, 255, 0.75);
        svg {
            vertical-align: middle;
            width: 22px;
            height: 22px;
        }
        span {
            vertical-align: middle;
            padding-left: 10px;
            display: inline-block;
        }
        a {
            float: right;
            padding: 5px 10px;
            background: #f15623;
            color: #fff;
            font-size: 12px;
            border-radius: 2px;
            height: 16px;
            line-height: 16px;
            margin-top: 7px;
        }
    }
    .content {
        overflow: hidden;
        background: white;
        font-size: 14px;
        a {
            display: inline-block;
            width: 33.3%;
            box-sizing: border-box;
            padding: 5px 0;
            border-right: 1px solid #eee;
            span {
                line-height: 1.46em;
                display: block;
                text-align: center;
                &.number {
                    font-weight: bolder;
                }
            }
            &:last-child {
                border: none;
            }
        }
    }
}

@media (max-width: 800px) {
    .message-info {
        position: relative;
        width: auto;
        margin: 0 auto;
        right: auto;
        top: auto;
        margin-bottom: 20px;
    }
    .box {
        .messageBody {
            margin-right: 0px;
        }
    }
}