@import "../commons/placeHolder.module.scss";
html {
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
    font-family: Arial, "Hiragino Sans GB", 冬青黑, "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "icomoon";
    src: url("../static/font/icomoon.eot?eyv41e");
    src: url("../static/font/icomoon.eot?eyv41e#iefix") format("embedded-opentype"), url("../static/font/icomoon.ttf?eyv41e") format("truetype"), url("../static/font/icomoon.woff?eyv41e") format("woff"), url("../static/font/icomoon.svg?eyv41e#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.blogBody {
    background: #f7f7f7;
    padding: 50px 10px 0 10px;
}

.blogContent {
    max-width: 1200px;
    margin: 0 auto;
}

.blog-content-block {
    // border-radius: 4px;
    position: relative;
    margin: 0 0px 25px 0px;
    border: 1px solid #efefef;
    padding: 20px 10px 10px 10px;
    color: #333;
    overflow: hidden;
    box-sizing: border-box;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    &:hover .blog-content-img-body {
        opacity: 1;
    }
    &:last-child {
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
    }
    h2 {
        transition: all 0.15s ease-in;
        color: #333;
        margin: 0;
        padding: 0;
        font-weight: 300;
        &:hover {
            text-decoration: underline;
        }
    }
    &.blogPlaceHolder {
        h2 {
            height: 15px;
            width: 150px;
            @extend .animated-background;
        }
        .blog-tag {
            margin: 0;
            padding: 10px 0;
            padding-bottom: 5px;
        }
        .tags,
        .tagsName,
        .tagsType,
        .reviewBlock {
            margin-right: 5px;
            width: 15px;
            height: 15px;
            display: inline-block;
            @extend .animated-background;
        }
        .tagsName {
            width: 50px;
        }
        .tagsType {
            width: 90px;
        }
        .reviewBlock {
            display: block;
            width: 100%;
            margin: 5px 0;
        }
        .blog-info {
            padding-top: 5px;
        }
        .blog-read,
        .blog-time {
            .tags {
                width: 50px;
                margin-right: 0;
            }
        }
    }
}

.blog-review {
    color: #666;
    line-height: 1.6em;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    margin: 5px 0 10px 0;
    transition: all 0.15s ease-in;
}

.blog-content-text {
    box-sizing: border-box;
    float: left;
    max-width: 60%;
    padding: 0 20px;
    margin-left: 40%;
    &.noimg {
        position: relative;
        margin-left: 0;
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        .blog-info {
            position: relative;
        }
    }
    h2 {
        font-size: 18px;
        font-weight: 600;
        margin-top: 0;
    }
}

.blog-info {
    font-size: 14px;
    overflow: hidden;
    color: #c0c0c0;
    padding: 10px 0 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-family: "icomoon";
}

.blog-tag {
    font-family: "icomoon";
    font-size: 14px;
    padding: 4px 0;
    color: #999;
    padding: 12px 0;
    a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        margin: 0 10px 0 0;
        background-color: #7bbcff;
        font-size: 12px;
        line-height: 1.8em;
        padding: 0 8px;
        border-radius: 4px;
        transition: all 0.15s ease-in;
        &.active,
        &:hover {
            background: #3d9cfd;
        }
    }
}

.blog-time {
    float: left;
    span {
        margin-right: 10px;
    }
}

.blog-read {
    float: right;
}

.blog-content {
    padding-bottom: 20px;
}

.blog-content-img {
    bottom: 0;
    top: 0;
    left: 0;
    right: 60%;
    position: absolute;
}

.blog-content-img-body {
    opacity: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    &:hover {
        opacity: 1;
    }
}

.subNav {
    padding-bottom: 10px;
    overflow: hidden;
    margin-top: 15px;
    .active {
        background: #3d9cfd;
        border-color: #3d9cfd;
        color: #fff;
        z-index: 2;
        a,
        .subNavIcon,
        .subNavCount {
            color: #fff;
        }
        .subNavIcon {
            color: rgba(255, 255, 255, .8);
        }
        .subNavCount {
            background-color: rgba(255, 255, 255, .8);
            color: #555;
        }
    }
    .subNavCount {
        background-color: rgba(27, 31, 35, .08);
        border-radius: 20px;
        color: #586069;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        line-height: 1;
        padding: 2px 5px;
        margin-left: 4px;
    }
    .subNavIcon {
        color: #bbb;
        margin-right: 5px;
    }
    a {
        box-sizing: border-box;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
        font-family: "icomoon";
        border: 1px solid #efefef;
        color: #333;
        float: left;
        margin-right: -1px;
        text-decoration: none;
        font-weight: 600;
        line-height: 20px;
        padding: 6px 14px;
        background: white;
        font-size: 12px;
        margin-bottom: 5px;
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
    .placeholdIcon {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        @extend .animated-background;
    }
    .placeholdTxt {
        display: inline-block;
        width: 60px;
        height: 16px;
        vertical-align: middle;
        margin-left: 5px;
        @extend .animated-background;
    }
    .placeholdNumber {
        display: inline-block;
        width: 20px;
        height: 16px;
        vertical-align: middle;
        margin-left: 5px;
        border-radius: 20px;
        @extend .animated-background;
    }
}