@import "./codeHighLigh.module.scss";
%code {
    // margin-top: 20px;
    blockquote {
        border-left: 4px solid #ddd;
        margin-left: 0;
        padding-left: 15px;
        color: #777;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /*color:#8F8F8F;*/
        margin: 29px auto 0;
        font-weight: 300;
        line-height: 1.8em;
        max-width: 750px;
    }
    h1 {
        /*color:#333;*/
        font-size: 2em;
        margin-bottom: 20px;
    }
    h2 {
        border-bottom: 1px solid #eaecef;
        margin-bottom: 16px;
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: 0.875em;
    }
    h6 {
        font-size: 0.85em;
    }
    p {
        margin: 10px auto;
        max-width: 750px;
        img {
            max-width: 1000px;
            max-width: 100%;
            transform: translate(-50%);
            position: relative;
            left: 50%;
        }
    }
    a {
        color: #f15623;
        /*text-decoration: none;*/
        &:hover {
            text-decoration: underline;
        }
    }
    table {
        max-width: 750px;
        margin: 0 auto;
    }
    table,
    td,
    th {
        padding: 5px 15px;
        border-collapse: collapse;
        border: 1px solid #ececec;
    }
    td {
        color: #666;
    }
    code {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px;
        // background: #f4f4f4;
        // padding: 3px 5px;
        // margin: 3px auto;
        // // max-width: 750px;
        // // display: inline-block;
        // overflow: auto;
        // border-radius: 2px;
        // font-size: 85%;
        /*border-radius: 2px;*/
    }
    pre code {
<<<<<<< HEAD
        white-space: pre-wrap;
=======
        overflow: auto;
>>>>>>> 5dd294d82e0da8685705ad07caf326ed3e2985ae
        padding: 10px;
        display: block;
        /*width: 100%;*/
        margin: 3px auto;
        // max-width: 680px;
    }
    hr {
        margin: 28px 0;
        border: none;
        border-bottom: 1px solid #f3ecec;
    }
    img {
        max-width: 100%;
    }
    ol,
    ul {
        margin: 3px auto;
        max-width: 750px;
        line-height: 1.6em;
    }
    li {
        line-height: 1.39em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
