.copyright {
    text-align: center;
    background: #fafafa;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    border-top: 1px solid #f1f1f1;

    a {
        color: #f15623;
        text-decoration: none;
    }
}