/*** commend ***/

.commend {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0;
    color: #666;
    font-size: 14px;
}

.commend-block {
    // border: 1px solid #e4e4e4;
    background: white;
    padding: 15px 25px;
    margin-bottom: 20px;
    // border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.commend-block:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.commend-user {
    overflow: hidden;
    margin-bottom: 20px;
}

.commend-avatar {
    float: left;
    margin-right: 10px;
}

.commend-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: url("/static/img/nobody.jpg");
    background-size: cover;
}

.commend-info {
    float: left;
}

.commend-name {
    height: 22px;
    line-height: 22px;
}

.commend-time {
    height: 22px;
    line-height: 22px;
    color: #999;
    font-size: 12px;
}

.commend-text {
    max-height: 228px;
    overflow: auto;
    padding: 5px 0;
    line-height: 1.6em;
}

.commend-action {
    margin-top: 10px;
    font-family: "icomoon";
    overflow: hidden;
    color: #999;
}

.commend-like {
    float: left;
    cursor: pointer;
}

.commend-like-liked,
.commend-like-nolike {
    display: inline-block;
    padding: 0 5px 0 0;
}

.commend-like-liked {
    display: none;
}

.commend-like.active {
    color: #f15623;
}

.commend-like.active .commend-like-nolike,
.commend-like:hover .commend-like-nolike {
    display: none;
}

.commend-like.active .commend-like-liked,
.commend-like:hover .commend-like-liked {
    display: inline-block;
    color: #f15623;
}

.commend-replay:hover {
    color: #f15623;
}

.commend-replay {
    cursor: pointer;
    float: right;
}

.commend-pub {
    background: white;
    // border: 1px solid #e9e9e9;
    /*background: #f9f9f9;*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    margin-bottom: 20px;
    // border-radius: 4px;
    transition: all 0.5s ease-in;
}

.commend-pub.active {
    /*box-shadow: 0px 0px 3px rgba(173, 172, 172, 0.59);*/
    box-shadow: 0 0 10px rgba(0, 114, 255, 0.2);
}

.commend-pub .commend-avatar img {
    width: 40px;
    height: 40px;
}

.commend-pub-info {
    overflow: hidden;
}

.commend-pub.active .commend-pub-text {
    display: none;
}

.commend-pub.active .commend-pub-box {
    padding: 10px 0;
    height: auto;
}

.commend-pub.active .commend-pub-uname {
    display: block;
}

.commend-pub.active .commend-pub-btn {
    display: inline-block;
}

.commend-pub-text {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #ccc;
    display: block;
}

.commend-pub-uname {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-size: 14px;
    color: #f15623;
    cursor: pointer;
    float: left;
    padding: 0 5px;
    display: none;
}

.commend-pub-box {
    padding: 0;
    outline: none;
    line-height: 1.6em;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.2s ease-in;
}

.commend-pub-btn {
    display: none;
    cursor: pointer;
    /*display: inline-block;*/
    background: #f4f4f4;
    border: 1px solid #f15623;
    padding: 10px 40px;
    border-radius: 20px;
}

.commend-pub-btn:hover {
    background: #f15623;
    color: #fff;
}

.commend-replay-box {
    border-top: 1px solid #e8e8e8;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    display: none;
}

.commend-replay-box-text {
    outline: none;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 25px;
}

.commend-replay-box-text div {
    margin: 0;
    padding: 0;
    line-height: 25px;
}

.commend-replay-box-btn {
    cursor: pointer;
    color: #f15623;
    background: #f4f4f4;
    border: 1px solid #f15623;
    padding: 5px 20px;
    border-radius: 4px;
}

.commend-replay-box-btn:hover {
    background: #f15623;
    color: #fff;
}

.popbox {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10000;
    transition: all 0.5s ease-in;
}

.popbox-in {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin: -200px;
    background: white;
}

.popbox-close {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 0;
    margin: -20px;
    background: url("/static/img/index/close.svg") no-repeat center #999;
    cursor: pointer;
}
