@font-face {
    font-family: 'Open Sans';
    src: url('../static/font/OpenSans-Light.eot?eyv41e');
    src: url('../static/font/OpenSans-Light.eot?eyv41e#iefix') format('embedded-opentype'), url('../static/font/OpenSans-Light.ttf?eyv41e') format('truetype'), url('../static/font/OpenSans-Light.woff?eyv41e') format('woff'), url('../static/font/OpenSans-Light.svg?eyv41e#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icomoon";
    src: url("../static/font/icomoon.eot?eyv41e");
    src: url("../static/font/icomoon.eot?eyv41e#iefix") format("embedded-opentype"), url("../static/font/icomoon.ttf?eyv41e") format("truetype"), url("../static/font/icomoon.woff?eyv41e") format("woff"), url("../static/font/icomoon.svg?eyv41e#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2 {
    font-family: Open Sans, Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, ”Hiragino Sans GB”, Simsun, sans-self;
}

.head {
    background: rgba(0, 0, 0, 0.4);
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
    .logo {
        float: left;
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        color: #fff;
        font-size: 26px;
        img {
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
    .nav {
        float: right;
        height: 50px;
        line-height: 50px;
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            float: left;
            list-style: none;
            a {
                font-family: icomoon, Arial, Hiragino Sans GB, 冬青黑, Microsoft YaHei, 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
                text-decoration: none;
                color: #fff;
                margin: 0 8px;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                vertical-align: middle;
                &.active {
                    font-weight: bolder;
                }
                img {
                    vertical-align: middle;
                }
            }
        }
    }
    .global-nav-btn {
        background: none;
        border: none;
        display: none;
        outline: none;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 35px;
        vertical-align: middle;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 5px;
    }
    .global-nav-btn:after {
        content: ' ';
        width: 40px;
        height: 40px;
        float: right;
        background: url('../static/img/index/bars.svg') no-repeat center;
    }
    &.dark {
        background: rgba(0, 0, 0, 0.8);
    }
}

@media (max-width: 800px) {
    .head {
        .nav {
            display: none;
            margin-right: 0;
            width: 100%;
            position: absolute;
            top: 50px;
            z-index: 1000;
            li {
                float: none;
                a {
                    display: block;
                    background: rgba(249, 251, 248, 0.8);
                    margin: 0;
                    padding: 0 10px;
                    color: #333;
                    text-align: center;
                    border-bottom: 1px solid #F1F1F1;
                    font-size: 18px;
                }
            }
        }
        &.dark {
            .nav {
                li a {
                    color: #fff;
                    background: rgba(51, 51, 51, 0.95);
                    border-bottom: 1px solid #484848;
                    img {
                        fill: red;
                    }
                }
            }
        }
        .global-nav-btn {
            display: block;
        }
        .global-nav-text {
            overflow: visible;
        }
        .global-nav-text-logo {
            margin-left: 10px;
        }
        .global-nav-text-link {
            display: none;
            margin-right: 0;
            width: 100%;
            position: absolute;
            top: 50px;
            z-index: 1000;
        }
        .global-nav-text-link li a {
            display: block;
            background: rgba(249, 251, 248, 0.8);
            margin: 0;
            padding: 0 10px;
            color: #333;
            text-align: center;
            border-bottom: 1px solid #F1F1F1;
            font-size: 18px;
        }
    }
}