.homeBody {
  h2 {
    font-size: 56px;
    font-weight: 300;
    margin: 40px 0 15px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
  }
}

.videoBgMobile {
  display: none;
  background: url("//cdn.zhuwenlong.com/image/index/cover-820e030cca.jpg") center center;
  background-size: cover;
  position: fixed;
  z-index: -100;
  padding-bottom: 200px;
  left: 0;
  right: 0;
  top: 0;
}

.index {
  overflow: hidden;
  position: relative;
}

.videoBg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.videobg {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding-bottom: 200px;
  z-index: -50;
  background: rgba(0, 0, 0, 0.7);
}

.indexCover {
  .title {
    text-align: center;
    color: #fff;
    height: 360px;
    width: 100%;
    margin-top: -280px;
    position: absolute;
    top: 55%;
    // animation: title-show 1s ease-in;
  }

  svg {
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 20px;

    path,
    .red {
      fill: white;
      stroke: #fff;
      fill-opacity: 0;
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      animation: title 3s ease-in forwards;
    }

    .red {
      stroke: #FF5851;
      fill: #FF5851;
    }

  }

  @keyframes red-dot-grow {
    0% {
      stroke-width: 0px;
    }

    15% {
      stroke-width: 0px;
    }

    20% {
      stroke-width: 22px;
    }

    100% {
      stroke-width: 22px;
    }
  }

  h2 {
    font-size: 16px;
    color: #ccc;
    animation: titleh2 3s ease-in;
  }

  .cover-more {
    position: absolute;
    width: 50%;
    bottom: 15%;
    left: 50%;
    margin-left: -25%;
  }

  .btn {
    position: absolute;
    bottom: 100px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    left: 50%;
    width: 160px;
    margin-left: -80px;
    padding: 10px 0;
    animation: titleh2 3s ease-in;
  }
}

.index-about {
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  padding: 40px 0 40px 0px;

  p {
    margin: 8px;
  }

  .img {
    margin: 0 auto 30px;
    text-align: center;
    border-radius: 100px;
    width: 120px;
    height: 120px;
    border: 20px solid #fff;
    box-shadow: 0 0 1px #333;

    img {
      height: 0;
      width: 0;
    }
  }
}

.index-about-identity .img {
  background: url("/static/img/index/idnetity.jpg");
  background-size: cover;
}

.index-about-work .img {
  background: url("/static/img/index/work.jpg");
  background-size: cover;
}

.index-about-dream .img {
  background: url("/static/img/index/dream.jpg");
  background-size: cover;
}

.index-about-identity:hover .img {
  background: url("/static/img/index/idnetity.gif");
  background-size: cover;
}

.index-about-work:hover .img {
  background: url("/static/img/index/work.gif");
  background-size: cover;
}

.index-about-dream:hover .img {
  background: url("/static/img/index/dream.gif");
  background-size: cover;
}

.index-about h2 {
  text-align: center;
  margin: 20px;
  font-size: 66px;
  font-weight: 300;
}

.index-about-who {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.index-about-block {
  float: left;
  width: 28%;
  padding: 2%;
  line-height: 1.6em;
}

.index-travel {
  background: #304065;
  overflow: hidden;
  color: #fff;
  position: relative;

  h2,
  h3 {
    box-sizing: border-box;
    z-index: 100;
    left: 0;
    right: 0;
    position: absolute;

    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }

  h2 {
    // padding-top: 20px;
    height: 90px;
    line-height: 90px;
  }

  h3 {
    top: 90px;
    height: 40px;
  }

  .index-travel-world-mask {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.1);
  }

  .index-travel-world-mask-tips {
    position: absolute;
    // bottom: 8px;
    top: 140px;
    // left: 0;
    height: 30px;
    right: 10px;
    z-index: 1000;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

    .index-travel-world-mask-tips {
      cursor: pointer;
    }

    svg {
      vertical-align: middle;
      margin-right: 5px;

    }

    .svg-animate {
      animation: blinker 1.5s linear infinite;
    }

    @keyframes blinker {
      50% {
        opacity: 0.2;
      }
    }
  }

  .index-travel-world {
    margin: 0px 0;
    padding: 0 10px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 900px;
    box-sizing: border-box;
  }
}



.index-coffee {
  padding: 20px 0 80px;
  overflow: hidden;
  color: #333;
  background: rgba(255, 255, 255, 0.85);

  p {
    font-size: 16px;
    line-height: 1.6em;
    /*text-align: center;*/
    margin: 10px auto;
    padding: 0 20px;
    max-width: 1200px;
  }
}

.index-content {
  background: #363941;
  overflow: hidden;
  color: #ccc;
  position: relative;

  .btn {
    padding: 8px 0;
    width: 140px;
  }
}

.index-content-tips {
  margin-left: 10px;
  color: #a5a5a5;
  opacity: 0;
  transition: all 0.8s ease-out;
}

.index-content input,
.index-content textarea {
  color: #ccc;
  border: none;
  background: #484b53;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  width: 90%;
}

.index-content input:disabled,
.index-content textarea:disabled {
  color: #999;
}

.index-content textarea {
  width: 95%;
  height: 8em;
}

.index-content-box {
  margin: 40px auto;
  padding: 40px 0 40px 3.5%;
  max-width: 1200px;
  overflow: hidden;
  border-top: 1px solid #484b53;
}

.index-content-boxblock {
  overflow: hidden;
}

.index-content-message {
  box-sizing: border-box;
  padding: 5px;
}

.index-content-boxhalf {
  float: left;
  width: 50%;
}

.index-media {
  border-top: 1px solid #484b53;
  background: rgba(54, 57, 65, 1);
  padding: 50px 0;
  color: #fff;
  text-align: center;

  a {
    text-decoration: none;
  }

  .btn {
    height: 80px;
    width: 80px;
    border-radius: 60px;
    display: inline-block;
    line-height: 80px;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
  }

  .btn:after {
    border-width: 2px;
    border-radius: 60px;
  }
}

.index-copyright-top {
  opacity: 0.95;
  height: 50px;
  background: #fff;
  width: 100%;
}

.index-copyright-mid {
  opacity: 0.95;
  overflow: hidden;
  height: 127px;
  position: relative;
}

.index-copyright-midleft {
  width: 50%;
  margin-left: -206px;
  top: 0;
  left: 0;
  background: #fff;
  height: 127px;
}

.index-copyright-midcenter {
  width: 412px;
  position: absolute;
  left: 50%;
  margin-left: -206px;
  top: 0;
}

.index-copyright-midright {
  position: absolute;
  width: 50%;
  margin-right: -206px;
  top: 0;
  right: 0;
  background: #fff;
  height: 127px;
}

.index-copyright-bottom {
  /*opacity: 0.95;*/
  background: rgba(255, 255, 255, 0.95);
  padding-top: 50px;
}

.btn {
  position: relative;
  transition: all 0.15s ease-in;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.btn:after {
  transition: all 0.15s ease-in;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  content: " ";
  opacity: 0;
  border-radius: 4px;
  border: 1px solid #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0);
  color: #fff;
}

.btn:hover:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

@keyframes title {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }

  50% {
    fill-opacity: 0;
  }

  90% {
    stroke-dashoffset: 0;
    fill-opacity: 0.8;
  }


  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    // stroke-width: 0;
    stroke-opacity: 1;
    fill-opacity: 1;
  }
}

@keyframes title-show {
  0% {
    opacity: 0;
  }

  100% {
    // margin-top: -280px;
    opacity: 1;
  }
}

@keyframes titleh2 {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.copyright {
  background: none !important;
  color: #fff !important;
}

@media (max-width: 800px) {
  .homeBody {
    p {
      font-size: 12px !important;
      margin: 0 !important;
      line-height: 1.6em !important;
    }

    h2 {
      margin-top: 25px;
      margin-bottom: 5px;
      font-size: 28px;
    }

    h3 {
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      margin: 8px 0 18px 0;
    }

    h2 {
      span {
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 2em;
      }
    }
  }

  .indexCover .title {
    top: 50%;
    position: absolute;
    margin-top: 0;
    transform: translateY(-50%);
  }

  .btn {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
  }

  .cover-more {
    position: absolute;
    width: 50%;
    bottom: 15%;
    left: 50%;
    margin-left: -25%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .index-about {
    padding-top: 0;
    padding-bottom: 0;
  }

  .index-about-block {
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    float: none;
  }

  .index-about .img {
    width: 100%;
    height: 60px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
  }

  .index-about-identity .img,
  .index-about-identity:hover .img {
    background: url("/static/img/index/idnetity.gif") no-repeat center;
    background-size: contain;
  }

  .index-about-work .img,
  .index-about-work:hover .img {
    background: url("/static/img/index/work.gif") no-repeat center;
    background-size: contain;
  }

  .index-about-dream .img,
  .index-about-dream:hover .img {
    background: url("/static/img/index/dream.gif") no-repeat center;
    background-size: contain;
  }

  .index-travel {
    h2 {
      margin: 0;
      height: 60px;
      line-height: 60px;
    }

    h3 {
      top: 60px;
      margin: 0;
    }

    position: relative;

    .index-travel-world-mask-tips {
      font-size: 12px;
      position: absolute;
      bottom: 5px;
      top: auto;
      // left: 0;
      height: 30px;
      right: 40px;
      z-index: 1000;
      text-align: center;
      line-height: 30px;
    }
  }

  .index-content-box {
    margin: 5px 0;
    padding: 10px 0px;
    box-sizing: border-box;
  }

  .index-content-boxhalf {
    box-sizing: border-box;
    padding: 0 5px;
    float: left;
    width: 50%;
  }

  .index-content {
    padding: 5px 10px;

    .btn {
      width: 100%;
      font-size: 14px;
    }
  }

  .index-content input,
  .index-content textarea {
    width: 100%;
  }

  .index-content-message {
    padding: 5px;
  }

  .index-content-btn {
    padding: 10px 5px;
    box-sizing: border-box;
  }

  .index-copyright-top {
    height: 25px;
  }

  .index-copyright-mid {
    height: 64px;
  }

  .index-copyright-midleft {
    margin-left: -104px;
    height: 64px;
  }

  .index-copyright-midcenter {
    width: 208px;
    margin-left: -104px;
    height: 64px;
  }

  .index-copyright-midcenter img {
    width: 208px;
    height: 64px;
  }

  .index-copyright-midright {
    margin-right: -104px;
    height: 64px;
  }

  .videoBgMobile {
    display: block;
  }

  .videoBg {
    display: none;
  }

  .index-coffee {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 60px;
  }
}