@font-face {
  font-family: 'Open Sans';
  src: url('/static/font/OpenSans-Light.eot?eyv41e');
  src: url('/static/font/OpenSans-Light.eot?eyv41e#iefix') format('embedded-opentype'), url('/static/font/OpenSans-Light.ttf?eyv41e') format('truetype'), url('/static/font/OpenSans-Light.woff?eyv41e') format('woff'), url('/static/font/OpenSans-Light.svg?eyv41e#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
h1,
h2 {
  font-family: 'Open Sans', 'Tahoma', 'Arial', 'Roboto', 'Droid Sans', 'Helvetica Neue', 'Droid Sans Fallback', 'Heiti SC', 'Hiragino Sans GB', Simsun, sans-self;
}
