@import "../commons/placeHolder.module.scss";


.labBody {
    padding: 50px 10px 0 10px;
    background: #f7f7f7;
}

.lab {
    max-width: 1200px;
    min-width: 800px;
    padding: 10px 0px 50px 0px;
    box-sizing: border-box;
    margin: 0 auto;
}

.lab-box {
    overflow: hidden;
    color: #333;
}

.lab-block {
    overflow: hidden;
    float: left;
    width: 30%;
    margin: 1.5%;
    // padding: 10px;
    height: 400px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

    img {
        width: 100%;
        height: 260px;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        // margin-bottom: 10px;
        background-position: center;
        transition: all 0.4s ease-in;
    }

    &.lab-block-placeholder {

        .placeholder,
        .lab-block-title,
        .lab-block-intro {
            margin-right: 5px;
            width: 15px;
            height: 15px;
            display: inline-block;
            @extend .animated-background;
        }

        .placeholderImg {
            width: 100%;
            height: 257px;
            border: 2px solid #fff;
            box-sizing: border-box;
        }

        .lab-block-title {
            width: 150px;
        }

        .lab-block-intro {
            display: block;
            width: 100%;
            margin: 5px 0;
        }
    }
}

.lab-block-title {
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;

    a {
        color: #f15623;
        text-decoration: none;
    }
}

.lab-block-intro {
    overflow: hidden;
    // font-size: 14px;
    // font-weight: 300;
    color: #666;
}

.lab-block-author {
    color: #666;

    a {
        color: #f15623;
        font-weight: bold;
        text-decoration: none;
    }

    // font-size: 14px;
    // line-height: 1.6em;
}

.lab-block-author a {
    display: inline-block;
    margin: 0 5px;
}

.lab-block-addone {
    overflow: hidden;
}

.lab-block-content {
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #777;
}

@media (max-width: 800px) {
    .labBody {
        padding-left: 0;
        padding-right: 0;
    }

    // .lab {
    //     padding: 10px;
    // }
    .lab-block-addone {
        padding: 0 10px;
    }

    .global-nav-text-link li a {
        color: #fff;
        background: rgba(51, 51, 51, 0.95);
        border-bottom: 1px solid #484848;
    }

    .lab {
        min-width: 0;
        margin: 0;
        padding: 10px 0;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .lab-block {
        float: inherit;
        width: auto;
        padding: 0;
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 20px;
    }

    .lab-block img {
        max-width: 100%;
    }
}