@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url(//cdn.blog.com/asset/media/OpenSans-Light.eot);
  src: url(//cdn.blog.com/asset/media/OpenSans-Light.eot#iefix) format("embedded-opentype"), url(//cdn.blog.com/asset/media/OpenSans-Light.ttf) format("truetype"), url(//cdn.blog.com/asset/media/OpenSans-Light.woff) format("woff"), url(//cdn.blog.com/asset/media/OpenSans-Light.svg#OpenSans-Light) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "icomoon";
  src: url(//cdn.blog.com/asset/media/icomoon.eot);
  src: url(//cdn.blog.com/asset/media/icomoon.eot#iefix) format("embedded-opentype"), url(//cdn.blog.com/asset/media/icomoon.ttf) format("truetype"), url(//cdn.blog.com/asset/media/icomoon.woff) format("woff"), url(//cdn.blog.com/asset/media/icomoon.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }

body,
h1,
h2 {
  font-family: Open Sans, Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, ”Hiragino Sans GB”, Simsun, sans-self; }

._1e4lRWTp53B55Y42brUwg6 {
  background: rgba(0, 0, 0, 0.4);
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif'; }
  ._1e4lRWTp53B55Y42brUwg6 ._1tAOBU6znouFRVARqGdMjB {
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    color: #fff;
    font-size: 26px; }
    ._1e4lRWTp53B55Y42brUwg6 ._1tAOBU6znouFRVARqGdMjB img {
      vertical-align: middle;
      width: 40px;
      height: 40px;
      margin-right: 10px; }
  ._1e4lRWTp53B55Y42brUwg6 ._2e9NobdCpu6H8QFxcs1FC- {
    float: right;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0; }
    ._1e4lRWTp53B55Y42brUwg6 ._2e9NobdCpu6H8QFxcs1FC- li {
      padding: 0;
      margin: 0;
      float: left;
      list-style: none; }
      ._1e4lRWTp53B55Y42brUwg6 ._2e9NobdCpu6H8QFxcs1FC- li a {
        font-family: icomoon, Arial, Hiragino Sans GB, 冬青黑, Microsoft YaHei, 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
        text-decoration: none;
        color: #fff;
        margin: 0 8px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        vertical-align: middle; }
        ._1e4lRWTp53B55Y42brUwg6 ._2e9NobdCpu6H8QFxcs1FC- li a._2DfFUriIKoeMFLbgCFRbvN {
          font-weight: bolder; }
        ._1e4lRWTp53B55Y42brUwg6 ._2e9NobdCpu6H8QFxcs1FC- li a img {
          vertical-align: middle; }
  ._1e4lRWTp53B55Y42brUwg6 ._1G0v_dpVM68tr64Dn1se56 {
    background: none;
    border: none;
    display: none;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 35px;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px; }
  ._1e4lRWTp53B55Y42brUwg6 ._1G0v_dpVM68tr64Dn1se56:after {
    content: ' ';
    width: 40px;
    height: 40px;
    float: right;
    background: url(//cdn.blog.com/asset/media/bars.svg) no-repeat center; }
  ._1e4lRWTp53B55Y42brUwg6.iAcRMTM4RNqRJHEfga7ya {
    background: rgba(0, 0, 0, 0.8); }

@media (max-width: 800px) {
  ._1e4lRWTp53B55Y42brUwg6 ._2e9NobdCpu6H8QFxcs1FC- {
    display: none;
    margin-right: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 1000; }
    ._1e4lRWTp53B55Y42brUwg6 ._2e9NobdCpu6H8QFxcs1FC- li {
      float: none; }
      ._1e4lRWTp53B55Y42brUwg6 ._2e9NobdCpu6H8QFxcs1FC- li a {
        display: block;
        background: rgba(249, 251, 248, 0.8);
        margin: 0;
        padding: 0 10px;
        color: #333;
        text-align: center;
        border-bottom: 1px solid #F1F1F1;
        font-size: 18px; }
  ._1e4lRWTp53B55Y42brUwg6.iAcRMTM4RNqRJHEfga7ya ._2e9NobdCpu6H8QFxcs1FC- li a {
    color: #fff;
    background: rgba(51, 51, 51, 0.95);
    border-bottom: 1px solid #484848; }
    ._1e4lRWTp53B55Y42brUwg6.iAcRMTM4RNqRJHEfga7ya ._2e9NobdCpu6H8QFxcs1FC- li a img {
      fill: red; }
  ._1e4lRWTp53B55Y42brUwg6 ._1G0v_dpVM68tr64Dn1se56 {
    display: block; }
  ._1e4lRWTp53B55Y42brUwg6 ._2MGfLAjJWhuQPufPQOkPk_ {
    overflow: visible; }
  ._1e4lRWTp53B55Y42brUwg6 ._35T34f2GEfBpdWsaslmfta {
    margin-left: 10px; }
  ._1e4lRWTp53B55Y42brUwg6 .d3dL27scJuY8vkEUpZito {
    display: none;
    margin-right: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 1000; }
  ._1e4lRWTp53B55Y42brUwg6 .d3dL27scJuY8vkEUpZito li a {
    display: block;
    background: rgba(249, 251, 248, 0.8);
    margin: 0;
    padding: 0 10px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
    font-size: 18px; } }

._3BB0NjEUL-G66MYDBg70XU h2 {
  font-size: 56px;
  font-weight: 300;
  margin: 40px 0 15px;
  text-align: center; }

._3BB0NjEUL-G66MYDBg70XU h3 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px; }

._1WZZ73MXzbhyG8XOgWE73Z {
  display: none;
  background: url(//cdn.blog.com/asset/media/cover.jpg) center center;
  background-size: cover;
  position: fixed;
  z-index: -100;
  padding-bottom: 200px;
  left: 0;
  right: 0;
  top: 0; }

.nvl9L46U2fmurq_UH1m4p {
  overflow: hidden;
  position: relative; }

.TAnVwgmY-tpyRxECIiFOK {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

._15kACQCA2Rk3RLHYs9vh_m {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding-bottom: 200px;
  z-index: -50;
  background: rgba(0, 0, 0, 0.7); }

._21zJcReczn-hcrPwnK9GlS ._1TE37dCce527ragmXjeKfY {
  text-align: center;
  color: #fff;
  height: 360px;
  width: 100%;
  margin-top: -280px;
  position: absolute;
  top: 55%;
  font-family: sans-serif;
  animation: rnum91jy5LqcvAOz_NxWf 1s ease-in; }

._21zJcReczn-hcrPwnK9GlS svg {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 20px; }
  ._21zJcReczn-hcrPwnK9GlS svg path {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: _1TE37dCce527ragmXjeKfY 4s ease-in forwards; }

._21zJcReczn-hcrPwnK9GlS h2 {
  font-size: 16px;
  color: #ccc;
  animation: ssSfjGwIwOngrQiUVrDRH 3s ease-in; }

._21zJcReczn-hcrPwnK9GlS ._1tQZ9ILfwT2VeKpNe9_PMP {
  position: absolute;
  width: 50%;
  bottom: 15%;
  left: 50%;
  margin-left: -25%; }

._21zJcReczn-hcrPwnK9GlS ._3uVOMj4X0NYkhYnWhuPkUD {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 160px;
  margin-left: -80px;
  padding: 10px 0;
  animation: ssSfjGwIwOngrQiUVrDRH 3s ease-in; }

.xSqvdDc9UKnTL1ycguFvE {
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  padding: 40px 0 80px; }
  .xSqvdDc9UKnTL1ycguFvE p {
    margin: 8px; }
  .xSqvdDc9UKnTL1ycguFvE ._1e8mUIzzZ4qlV6VcbdNThS {
    margin: 0 auto 30px;
    text-align: center;
    border-radius: 100px;
    width: 120px;
    height: 120px;
    border: 20px solid #fff;
    box-shadow: 0 0 1px #333; }
    .xSqvdDc9UKnTL1ycguFvE ._1e8mUIzzZ4qlV6VcbdNThS img {
      height: 0;
      width: 0; }

.zrhhde4xFIE3E4fQMB4zN ._1e8mUIzzZ4qlV6VcbdNThS {
  background: url(//cdn.blog.com/asset/media/idnetity.jpg);
  background-size: cover; }

._1b29zQvpwJBkZmW0AhbWm0 ._1e8mUIzzZ4qlV6VcbdNThS {
  background: url(//cdn.blog.com/asset/media/work.jpg);
  background-size: cover; }

._3em0a7D00SlLBI15QpWUqd ._1e8mUIzzZ4qlV6VcbdNThS {
  background: url(//cdn.blog.com/asset/media/dream.jpg);
  background-size: cover; }

.zrhhde4xFIE3E4fQMB4zN:hover ._1e8mUIzzZ4qlV6VcbdNThS {
  background: url(//cdn.blog.com/asset/media/idnetity.gif);
  background-size: cover; }

._1b29zQvpwJBkZmW0AhbWm0:hover ._1e8mUIzzZ4qlV6VcbdNThS {
  background: url(//cdn.blog.com/asset/media/work.gif);
  background-size: cover; }

._3em0a7D00SlLBI15QpWUqd:hover ._1e8mUIzzZ4qlV6VcbdNThS {
  background: url(//cdn.blog.com/asset/media/dream.gif);
  background-size: cover; }

.xSqvdDc9UKnTL1ycguFvE h2 {
  text-align: center;
  margin: 20px;
  font-size: 66px;
  font-weight: 300; }

._1_ICvenFb1rvz9IVLNsdye {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.ESFsxbHCbS7hbLjVYiGTh {
  float: left;
  width: 28%;
  padding: 2%;
  line-height: 1.6em; }

._2P4oaBmSeLEFPlx3uruL-u {
  background: #4a6ebc;
  overflow: hidden;
  color: #fff; }

._15Na4aUsJJGrLH1tUKZ4rE {
  margin: 40px 0;
  padding: 0 10px;
  box-sizing: border-box; }

.Ld9-adOr3DEHiI7UkGU52 {
  padding: 20px 0 80px;
  overflow: hidden;
  color: #333;
  background: rgba(255, 255, 255, 0.85); }
  .Ld9-adOr3DEHiI7UkGU52 p {
    font-size: 16px;
    line-height: 1.6em;
    /*text-align: center;*/
    margin: 10px auto;
    padding: 0 20px;
    max-width: 1200px; }

._3aRBjONIToT0xwl-7bjIiY {
  background: #363941;
  overflow: hidden;
  color: #ccc;
  position: relative; }
  ._3aRBjONIToT0xwl-7bjIiY ._3uVOMj4X0NYkhYnWhuPkUD {
    padding: 8px 0;
    width: 140px; }

._3UPAZcq1G6JQt0vBWv1Vnt {
  margin-left: 10px;
  color: #A5A5A5;
  opacity: 0;
  transition: all 0.8s ease-out; }

._3aRBjONIToT0xwl-7bjIiY input,
._3aRBjONIToT0xwl-7bjIiY textarea {
  color: #ccc;
  border: none;
  background: #484b53;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  width: 90%; }

._3aRBjONIToT0xwl-7bjIiY input:disabled,
._3aRBjONIToT0xwl-7bjIiY textarea:disabled {
  color: #999; }

._3aRBjONIToT0xwl-7bjIiY textarea {
  width: 95%;
  height: 8em; }

._1jbrz9NoOKns7QCVDsQFVF {
  margin: 40px auto;
  padding: 40px 0 40px 3.5%;
  max-width: 1200px;
  overflow: hidden;
  border-top: 1px solid #484b53; }

._2bqdyPTnaHH_q1TVAeCwc3 {
  overflow: hidden; }

._3cqzImczKwS1pwJrTQfs1N {
  box-sizing: border-box;
  padding: 5px; }

._3sUTi_Ok1-2uifjZU-w6xc {
  float: left;
  width: 50%; }

.ZKML1TS5hWKJkIp1qps9t {
  border-top: 1px solid #484b53;
  background: #363941;
  padding: 50px 0;
  color: #fff;
  text-align: center; }
  .ZKML1TS5hWKJkIp1qps9t a {
    text-decoration: none; }
  .ZKML1TS5hWKJkIp1qps9t ._3uVOMj4X0NYkhYnWhuPkUD {
    height: 80px;
    width: 80px;
    border-radius: 60px;
    display: inline-block;
    line-height: 80px;
    text-align: center;
    padding: 10px;
    margin: 0 10px; }
  .ZKML1TS5hWKJkIp1qps9t ._3uVOMj4X0NYkhYnWhuPkUD:after {
    border-width: 2px;
    border-radius: 60px; }

._3BrBhp5MftqKWHbObdsD4w {
  opacity: 0.95;
  height: 50px;
  background: #fff;
  width: 100%; }

.KA28Bd4aTQw6b-8_FY5Lw {
  opacity: 0.95;
  overflow: hidden;
  height: 127px;
  position: relative; }

._9X7HrzQI447V3uhpd9NRu {
  width: 50%;
  margin-left: -206px;
  top: 0;
  left: 0;
  background: #fff;
  height: 127px; }

.XsQ0lChu8QNPN04-Jgw3_ {
  width: 412px;
  position: absolute;
  left: 50%;
  margin-left: -206px;
  top: 0; }

._37xWQbZjnHo1YB9EVLoCpW {
  position: absolute;
  width: 50%;
  margin-right: -206px;
  top: 0;
  right: 0;
  background: #fff;
  height: 127px; }

._11o0jDr4BNmEvPTfxa42uY {
  /*opacity: 0.95;*/
  background: rgba(255, 255, 255, 0.95);
  padding-top: 50px; }

._3uVOMj4X0NYkhYnWhuPkUD {
  position: relative;
  transition: all 0.15s ease-in;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  font-size: 18px;
  outline: none;
  cursor: pointer; }

._3uVOMj4X0NYkhYnWhuPkUD:after {
  transition: all 0.15s ease-in;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  content: ' ';
  opacity: 0;
  border: 1px solid #fff; }

._3uVOMj4X0NYkhYnWhuPkUD:hover {
  background: rgba(255, 255, 255, 0);
  color: #fff; }

._3uVOMj4X0NYkhYnWhuPkUD:hover:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1; }

@keyframes _1TE37dCce527ragmXjeKfY {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000; }
  80% {
    stroke-dashoffset: 0;
    fill: rgba(0, 0, 0, 0); }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill: rgba(0, 0, 0, 0.2); } }

@keyframes rnum91jy5LqcvAOz_NxWf {
  0% {
    margin-top: -250px;
    opacity: 0; }
  100% {
    margin-top: -280px;
    opacity: 1; } }

@keyframes ssSfjGwIwOngrQiUVrDRH {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

._2nw9bQ_CyL913bY6ihL2J_ {
  background: none !important;
  color: #fff !important; }

@media (max-width: 800px) {
  @keyframes _1TE37dCce527ragmXjeKfY {
    0% {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000; }
    80% {
      stroke-dashoffset: 0;
      fill: rgba(255, 255, 255, 0); }
    100% {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
      fill: white; } }
  ._3BB0NjEUL-G66MYDBg70XU p {
    font-size: 12px !important;
    margin: 0 !important;
    line-height: 1.6em !important; }
  ._3BB0NjEUL-G66MYDBg70XU h2 {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 28px; }
  ._3BB0NjEUL-G66MYDBg70XU h3 {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 8px 0 18px 0; }
  ._21zJcReczn-hcrPwnK9GlS ._1TE37dCce527ragmXjeKfY {
    top: 50%;
    position: absolute;
    margin-top: 0;
    transform: translateY(-50%); }
  h2 span {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 2em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  ._3uVOMj4X0NYkhYnWhuPkUD {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px; }
  ._1tQZ9ILfwT2VeKpNe9_PMP {
    position: absolute;
    width: 50%;
    bottom: 15%;
    left: 50%;
    margin-left: -25%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .xSqvdDc9UKnTL1ycguFvE {
    padding-top: 0;
    padding-bottom: 0; }
  .ESFsxbHCbS7hbLjVYiGTh {
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    float: none; }
  .xSqvdDc9UKnTL1ycguFvE ._1e8mUIzzZ4qlV6VcbdNThS {
    width: 100%;
    height: 60px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 10px; }
  .zrhhde4xFIE3E4fQMB4zN ._1e8mUIzzZ4qlV6VcbdNThS,
  .zrhhde4xFIE3E4fQMB4zN:hover ._1e8mUIzzZ4qlV6VcbdNThS {
    background: url(//cdn.blog.com/asset/media/idnetity.gif) no-repeat center;
    background-size: contain; }
  ._1b29zQvpwJBkZmW0AhbWm0 ._1e8mUIzzZ4qlV6VcbdNThS,
  ._1b29zQvpwJBkZmW0AhbWm0:hover ._1e8mUIzzZ4qlV6VcbdNThS {
    background: url(//cdn.blog.com/asset/media/work.gif) no-repeat center;
    background-size: contain; }
  ._3em0a7D00SlLBI15QpWUqd ._1e8mUIzzZ4qlV6VcbdNThS,
  ._3em0a7D00SlLBI15QpWUqd:hover ._1e8mUIzzZ4qlV6VcbdNThS {
    background: url(//cdn.blog.com/asset/media/dream.gif) no-repeat center;
    background-size: contain; }
  ._1jbrz9NoOKns7QCVDsQFVF {
    margin: 5px 0;
    padding: 10px 0px;
    box-sizing: border-box; }
  ._3sUTi_Ok1-2uifjZU-w6xc {
    box-sizing: border-box;
    padding: 0 5px;
    float: left;
    width: 50%; }
  ._3aRBjONIToT0xwl-7bjIiY {
    padding: 5px 10px; }
    ._3aRBjONIToT0xwl-7bjIiY ._3uVOMj4X0NYkhYnWhuPkUD {
      width: 100%;
      font-size: 14px; }
  ._3aRBjONIToT0xwl-7bjIiY input,
  ._3aRBjONIToT0xwl-7bjIiY textarea {
    width: 100%; }
  ._3cqzImczKwS1pwJrTQfs1N {
    padding: 5px; }
  .a6zvO8KyMp0uaCYv5Ep6C {
    padding: 10px 5px;
    box-sizing: border-box; }
  ._3BrBhp5MftqKWHbObdsD4w {
    height: 25px; }
  .KA28Bd4aTQw6b-8_FY5Lw {
    height: 64px; }
  ._9X7HrzQI447V3uhpd9NRu {
    margin-left: -104px;
    height: 64px; }
  .XsQ0lChu8QNPN04-Jgw3_ {
    width: 208px;
    margin-left: -104px;
    height: 64px; }
  .XsQ0lChu8QNPN04-Jgw3_ img {
    width: 208px;
    height: 64px; }
  ._37xWQbZjnHo1YB9EVLoCpW {
    margin-right: -104px;
    height: 64px; }
  ._1WZZ73MXzbhyG8XOgWE73Z {
    display: block; }
  .TAnVwgmY-tpyRxECIiFOK {
    display: none; }
  .Ld9-adOr3DEHiI7UkGU52 {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 60px; } }

._3tcsPUht02irVm_Vm902td {
  text-align: center;
  background: #fafafa;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  border-top: 1px solid #f1f1f1; }
  ._3tcsPUht02irVm_Vm902td a {
    color: #f15623;
    text-decoration: none; }

@charset "UTF-8";
@keyframes _1E5yYhbNsmHrA-eQRt237W {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

._3S5dI2jriOqQhgvnEU2EfH, .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 h2, .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._1Nk8QEEka-KIhVy8bMQgS4,
.y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._1vAJqTtx2P5KemuxoVl6vb,
.y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._2zyT5XDYeNdZZiNlSQrAO9,
.y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._2o2-7wliu5j2ibVVDF2ehJ, ._30Q92CZothMLScqZcngYAz ._1MvF3_GWUNgF1ySXrXY2TT, ._30Q92CZothMLScqZcngYAz ._27iznEVzbtcQqq4xKvbZBh, ._30Q92CZothMLScqZcngYAz ._7snxCv2SUy_GFg7zSihgW {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: _1E5yYhbNsmHrA-eQRt237W;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

html {
  scroll-behavior: smooth; }

body {
  background: #f7f7f7;
  font-family: Arial, "Hiragino Sans GB", 冬青黑, "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: "icomoon";
  src: url(//cdn.blog.com/asset/media/icomoon.eot);
  src: url(//cdn.blog.com/asset/media/icomoon.eot#iefix) format("embedded-opentype"), url(//cdn.blog.com/asset/media/icomoon.ttf) format("truetype"), url(//cdn.blog.com/asset/media/icomoon.woff) format("woff"), url(//cdn.blog.com/asset/media/icomoon.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }

._1hUnBiCt-fpMXF3wJJIyNx {
  background: #f7f7f7;
  padding: 50px 10px 0 10px; }

._2FFjxxB1lkZo088Jt6hXFC {
  max-width: 1200px;
  margin: 0 auto; }

.y1593G7MwaSHw9M4RwrWr {
  position: relative;
  margin: 0 0px 25px 0px;
  border: 1px solid #efefef;
  padding: 20px 10px 10px 10px;
  color: #333;
  overflow: hidden;
  box-sizing: border-box;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); }
  .y1593G7MwaSHw9M4RwrWr:hover ._3IqGU_JvZWFexI98dtSWpl {
    opacity: 1; }
  .y1593G7MwaSHw9M4RwrWr:last-child {
    margin-bottom: 0; }
  .y1593G7MwaSHw9M4RwrWr a {
    text-decoration: none; }
  .y1593G7MwaSHw9M4RwrWr h2 {
    transition: all 0.15s ease-in;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 300; }
    .y1593G7MwaSHw9M4RwrWr h2:hover {
      text-decoration: underline; }
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 h2 {
    height: 15px;
    width: 150px; }
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._3jzC4LL04lhB6VU61PXDlt {
    margin: 0;
    padding: 10px 0;
    padding-bottom: 5px; }
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._1Nk8QEEka-KIhVy8bMQgS4,
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._1vAJqTtx2P5KemuxoVl6vb,
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._2zyT5XDYeNdZZiNlSQrAO9,
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._2o2-7wliu5j2ibVVDF2ehJ {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    display: inline-block; }
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._1vAJqTtx2P5KemuxoVl6vb {
    width: 50px; }
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._2zyT5XDYeNdZZiNlSQrAO9 {
    width: 90px; }
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._2o2-7wliu5j2ibVVDF2ehJ {
    display: block;
    width: 100%;
    margin: 5px 0; }
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 .p3454EIHwEj3RcXoZrsUo {
    padding-top: 5px; }
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 ._2mDgO-Naobe1l188N2DiO6 ._1Nk8QEEka-KIhVy8bMQgS4,
  .y1593G7MwaSHw9M4RwrWr.C9sMTW4NY8bOoyXuBAZo7 .YHdZg9AlCpI_OWH-21Zmt ._1Nk8QEEka-KIhVy8bMQgS4 {
    width: 50px;
    margin-right: 0; }

._2yk68eNrhRUNsSjUymYnVt {
  color: #666;
  line-height: 1.6em;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  margin: 5px 0 10px 0;
  transition: all 0.15s ease-in; }

.nOO2eyY8i_l-TxJkScSFv {
  box-sizing: border-box;
  float: left;
  max-width: 60%;
  padding: 0 20px;
  margin-left: 40%; }
  .nOO2eyY8i_l-TxJkScSFv._3UCm1Fzzc_ScDLAIgAQ5Go {
    position: relative;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto; }
    .nOO2eyY8i_l-TxJkScSFv._3UCm1Fzzc_ScDLAIgAQ5Go .p3454EIHwEj3RcXoZrsUo {
      position: relative; }
  .nOO2eyY8i_l-TxJkScSFv h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0; }

.p3454EIHwEj3RcXoZrsUo {
  font-size: 14px;
  overflow: hidden;
  color: #c0c0c0;
  padding: 10px 0 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: "icomoon"; }

._3jzC4LL04lhB6VU61PXDlt {
  font-family: "icomoon";
  font-size: 14px;
  padding: 4px 0;
  color: #999;
  padding: 12px 0; }
  ._3jzC4LL04lhB6VU61PXDlt a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 0 10px 0 0;
    background-color: #7bbcff;
    font-size: 12px;
    line-height: 1.8em;
    padding: 0 8px;
    border-radius: 4px;
    transition: all 0.15s ease-in; }
    ._3jzC4LL04lhB6VU61PXDlt a._1QdwVkQj2mOsve8votJnB2, ._3jzC4LL04lhB6VU61PXDlt a:hover {
      background: #3d9cfd; }

.YHdZg9AlCpI_OWH-21Zmt {
  float: left; }
  .YHdZg9AlCpI_OWH-21Zmt span {
    margin-right: 10px; }

._2mDgO-Naobe1l188N2DiO6 {
  float: right; }

._17Yr_hOI5Q3ua9RpL7XEbD {
  padding-bottom: 20px; }

._22O4rYkicUc598X_l2xmC6 {
  bottom: 0;
  top: 0;
  left: 0;
  right: 60%;
  position: absolute; }

._3IqGU_JvZWFexI98dtSWpl {
  opacity: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-sizing: border-box; }
  ._3IqGU_JvZWFexI98dtSWpl:hover {
    opacity: 1; }

._30Q92CZothMLScqZcngYAz {
  padding-bottom: 10px;
  overflow: hidden;
  margin-top: 15px; }
  ._30Q92CZothMLScqZcngYAz ._1QdwVkQj2mOsve8votJnB2 {
    background: #3d9cfd;
    border-color: #3d9cfd;
    color: #fff;
    z-index: 2; }
    ._30Q92CZothMLScqZcngYAz ._1QdwVkQj2mOsve8votJnB2 a,
    ._30Q92CZothMLScqZcngYAz ._1QdwVkQj2mOsve8votJnB2 ._3AGfLbAxmRJfGKbiwlM1Fi,
    ._30Q92CZothMLScqZcngYAz ._1QdwVkQj2mOsve8votJnB2 ._3OTBkPExLxrcqE_DAEFuZt {
      color: #fff; }
    ._30Q92CZothMLScqZcngYAz ._1QdwVkQj2mOsve8votJnB2 ._3AGfLbAxmRJfGKbiwlM1Fi {
      color: rgba(255, 255, 255, 0.8); }
    ._30Q92CZothMLScqZcngYAz ._1QdwVkQj2mOsve8votJnB2 ._3OTBkPExLxrcqE_DAEFuZt {
      background-color: rgba(255, 255, 255, 0.8);
      color: #555; }
  ._30Q92CZothMLScqZcngYAz ._3OTBkPExLxrcqE_DAEFuZt {
    background-color: rgba(27, 31, 35, 0.08);
    border-radius: 20px;
    color: #586069;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 2px 5px;
    margin-left: 4px; }
  ._30Q92CZothMLScqZcngYAz ._3AGfLbAxmRJfGKbiwlM1Fi {
    color: #bbb;
    margin-right: 5px; }
  ._30Q92CZothMLScqZcngYAz a {
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    font-family: "icomoon";
    border: 1px solid #efefef;
    color: #333;
    float: left;
    margin-right: -1px;
    text-decoration: none;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 14px;
    background: white;
    font-size: 12px;
    margin-bottom: 5px; }
    ._30Q92CZothMLScqZcngYAz a:first-child {
      border-radius: 4px 0 0 4px; }
    ._30Q92CZothMLScqZcngYAz a:last-child {
      border-radius: 0 4px 4px 0; }
  ._30Q92CZothMLScqZcngYAz ._1MvF3_GWUNgF1ySXrXY2TT {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
  ._30Q92CZothMLScqZcngYAz ._27iznEVzbtcQqq4xKvbZBh {
    display: inline-block;
    width: 60px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px; }
  ._30Q92CZothMLScqZcngYAz ._7snxCv2SUy_GFg7zSihgW {
    display: inline-block;
    width: 20px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 20px; }

._24frkkMyP31DqI0O6xlHLU {
  padding: 10px 0;
  margin: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-size: 20px; }
  ._24frkkMyP31DqI0O6xlHLU a,
  ._24frkkMyP31DqI0O6xlHLU span {
    color: #999;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #fff;
    margin: 0 2px;
    background: white;
    font-size: 14px; }
    ._24frkkMyP31DqI0O6xlHLU a.aRxdpHWmMU1A7mu3nHy2f, ._24frkkMyP31DqI0O6xlHLU a:hover,
    ._24frkkMyP31DqI0O6xlHLU span.aRxdpHWmMU1A7mu3nHy2f,
    ._24frkkMyP31DqI0O6xlHLU span:hover {
      border-radius: 2px;
      border: 1px solid #f15623;
      color: #fff;
      background: #f15623; }

@charset "UTF-8";
/*** commend ***/
._3Vo6Sm22Hcsn13U41EaZlt {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0;
  color: #666;
  font-size: 14px; }

._3GeD6cZH3ib7vHdeu5tPiR {
  background: white;
  padding: 15px 25px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); }

._3GeD6cZH3ib7vHdeu5tPiR:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15); }

._3YDUXlOxfgjBCjaKjX7r8P {
  overflow: hidden; }

._1-fSS13YAVk0RHKyYdwT1H {
  float: left;
  margin-right: 10px; }

._1-fSS13YAVk0RHKyYdwT1H img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url("/image/nobody.jpg");
  background-size: cover; }

._38L_aXj2JX5NZc4PKEkNng {
  float: left; }

._2OnUmm8NgW1vVVowzZEIKA {
  height: 25px;
  line-height: 25px; }

._36XLedZINGhNDHgK3TxUGj {
  height: 25px;
  line-height: 25px;
  color: #999;
  font-size: 12px; }

._24dnvyTGgNBec7FlZ8Ax_f {
  max-height: 228px;
  overflow: auto;
  padding: 5px 0;
  line-height: 1.6em; }

.Kqrb5Z8p9iBUNlq-FIT0 {
  margin-top: 10px;
  font-family: 'icomoon';
  overflow: hidden;
  color: #999; }

._32bF8ozlDWAUn_DTJ3436H {
  float: left;
  cursor: pointer; }

.Vv2Lcev36pFeE8doGQINM,
._3JFhyR5F734Bba-EPOsys1 {
  display: inline-block;
  padding: 0 5px 0 0; }

.Vv2Lcev36pFeE8doGQINM {
  display: none; }

._32bF8ozlDWAUn_DTJ3436H._36DmcbWt5M95IEnOZgLsxD {
  color: #f15623; }

._32bF8ozlDWAUn_DTJ3436H._36DmcbWt5M95IEnOZgLsxD ._3JFhyR5F734Bba-EPOsys1,
._32bF8ozlDWAUn_DTJ3436H:hover ._3JFhyR5F734Bba-EPOsys1 {
  display: none; }

._32bF8ozlDWAUn_DTJ3436H._36DmcbWt5M95IEnOZgLsxD .Vv2Lcev36pFeE8doGQINM,
._32bF8ozlDWAUn_DTJ3436H:hover .Vv2Lcev36pFeE8doGQINM {
  display: inline-block;
  color: #f15623; }

._3jeUkWPtCo9B6Q0ikdCbjr:hover {
  color: #f15623; }

._3jeUkWPtCo9B6Q0ikdCbjr {
  cursor: pointer;
  float: right; }

._1nEN9_SuIjVK6gh5RoGftt {
  background: white;
  /*background: #f9f9f9;*/
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in; }

._1nEN9_SuIjVK6gh5RoGftt._36DmcbWt5M95IEnOZgLsxD {
  /*box-shadow: 0px 0px 3px rgba(173, 172, 172, 0.59);*/
  box-shadow: 0 0 10px rgba(0, 114, 255, 0.2); }

._1nEN9_SuIjVK6gh5RoGftt ._1-fSS13YAVk0RHKyYdwT1H img {
  width: 40px;
  height: 40px; }

._3li7bfHlIcHiqf81nlxQRP {
  overflow: hidden; }

._1nEN9_SuIjVK6gh5RoGftt._36DmcbWt5M95IEnOZgLsxD .sbaKrdKwBEJ15erSmzDuK {
  display: none; }

._1nEN9_SuIjVK6gh5RoGftt._36DmcbWt5M95IEnOZgLsxD ._3h3sd6SKAwDmbdZgkx3-o0 {
  padding: 10px 0;
  height: auto; }

._1nEN9_SuIjVK6gh5RoGftt._36DmcbWt5M95IEnOZgLsxD ._348_CFpjPVYNVFGqhSeB3Z {
  display: block; }

._1nEN9_SuIjVK6gh5RoGftt._36DmcbWt5M95IEnOZgLsxD .V6Cztl2HJUt9bm4DB78Hx {
  display: inline-block; }

.sbaKrdKwBEJ15erSmzDuK {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #ccc;
  display: block; }

._348_CFpjPVYNVFGqhSeB3Z {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-size: 14px;
  color: #f15623;
  cursor: pointer;
  float: left;
  padding: 0 5px;
  display: none; }

._3h3sd6SKAwDmbdZgkx3-o0 {
  padding: 0;
  outline: none;
  line-height: 1.6em;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.2s ease-in; }

.V6Cztl2HJUt9bm4DB78Hx {
  display: none;
  cursor: pointer;
  /*display: inline-block;*/
  background: #f4f4f4;
  border: 1px solid #f15623;
  padding: 10px 40px;
  border-radius: 20px; }

.V6Cztl2HJUt9bm4DB78Hx:hover {
  background: #f15623;
  color: #fff; }

.eNxIYcYnflTp0x3HMqcib {
  border-top: 1px solid #E8E8E8;
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  display: none; }

._2BuRsQ5k33lZ8U_PqxIrxQ {
  outline: none;
  overflow: hidden;
  margin-bottom: 10px;
  line-height: 25px; }

._2BuRsQ5k33lZ8U_PqxIrxQ div {
  margin: 0;
  padding: 0;
  line-height: 25px; }

._2wQFV_zWBirbpcIULvEPIQ {
  cursor: pointer;
  color: #f15623;
  background: #f4f4f4;
  border: 1px solid #f15623;
  padding: 5px 20px;
  border-radius: 4px; }

._2wQFV_zWBirbpcIULvEPIQ:hover {
  background: #f15623;
  color: #fff; }

._1kK8oWlSO0m6HdeRnfKxhd {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  transition: all 0.5s ease-in; }

._27JnGNj1zioXFRhb-JAHTb {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  margin: -200px;
  background: white; }

._1rktKz5EV2OSz69Tuvfw9w {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin: -20px;
  background: url(//cdn.blog.com/asset/media/close.svg) no-repeat center #999;
  cursor: pointer; }

/*

Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage

Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8; }

.hljs-comment, .hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string, .hljs-doctag {
  color: #d14; }

.hljs-title, .hljs-section, .hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type, .hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag, .hljs-name, .hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp, .hljs-link {
  color: #009926; }

.hljs-symbol, .hljs-bullet {
  color: #990073; }

.hljs-built_in, .hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

._2rEegPOZCrApK3dXaOqBeC blockquote {
  border-left: 4px solid #ddd;
  margin-left: 0;
  padding-left: 15px;
  color: #777; }

._2rEegPOZCrApK3dXaOqBeC h1,
._2rEegPOZCrApK3dXaOqBeC h2,
._2rEegPOZCrApK3dXaOqBeC h3,
._2rEegPOZCrApK3dXaOqBeC h4,
._2rEegPOZCrApK3dXaOqBeC h5,
._2rEegPOZCrApK3dXaOqBeC h6 {
  /*color:#8F8F8F;*/
  margin: 29px auto 0;
  font-weight: 300;
  line-height: 1.8em;
  max-width: 750px; }

._2rEegPOZCrApK3dXaOqBeC h1 {
  /*color:#333;*/
  font-size: 2em;
  margin-bottom: 20px; }


._2rEegPOZCrApK3dXaOqBeC h2 {
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
  font-size: 1.5em; }


._2rEegPOZCrApK3dXaOqBeC h3 {
  font-size: 1.25em; }


._2rEegPOZCrApK3dXaOqBeC h4 {
  font-size: 1em; }


._2rEegPOZCrApK3dXaOqBeC h5 {
  font-size: 0.875em; }


._2rEegPOZCrApK3dXaOqBeC h6 {
  font-size: 0.85em; }

._2rEegPOZCrApK3dXaOqBeC p {
  margin: 10px auto;
  max-width: 750px; }
  ._2rEegPOZCrApK3dXaOqBeC p img {
    max-width: 1000px;
    max-width: 100%;
    transform: translate(-50%);
    position: relative;
    left: 50%; }

._2rEegPOZCrApK3dXaOqBeC a {
  color: #f15623;
  /*text-decoration: none;*/ }
  ._2rEegPOZCrApK3dXaOqBeC a:hover {
    text-decoration: underline; }

._2rEegPOZCrApK3dXaOqBeC table {
  max-width: 750px;
  margin: 0 auto; }

._2rEegPOZCrApK3dXaOqBeC table,
._2rEegPOZCrApK3dXaOqBeC td,
._2rEegPOZCrApK3dXaOqBeC th {
  padding: 5px 15px;
  border-collapse: collapse;
  border: 1px solid #ececec; }


._2rEegPOZCrApK3dXaOqBeC td {
  color: #666; }

._2rEegPOZCrApK3dXaOqBeC code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  /*border-radius: 2px;*/ }

._2rEegPOZCrApK3dXaOqBeC pre code {
  overflow: auto;
  padding: 10px;
  display: block;
  /*width: 100%;*/
  margin: 3px auto; }

._2rEegPOZCrApK3dXaOqBeC hr {
  margin: 28px 0;
  border: none;
  border-bottom: 1px solid #f3ecec; }

._2rEegPOZCrApK3dXaOqBeC img {
  max-width: 100%; }

._2rEegPOZCrApK3dXaOqBeC ol,
._2rEegPOZCrApK3dXaOqBeC ul {
  margin: 3px auto;
  max-width: 750px;
  line-height: 1.6em; }

._2rEegPOZCrApK3dXaOqBeC li {
  line-height: 1.39em;
  padding-top: 5px;
  padding-bottom: 5px; }

body {
  background: white;
  font-family: "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", Helvetica, Tahoma, "Arial sans-serif";
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0; }
  body a {
    text-decoration: none; }

.-eTRhEyrj45QoCHDZlTxJ {
  padding: 50px 20px 0 20px; }

._1QJT7w4kJ9eRrPdQT52iJD {
  max-width: 1200px;
  margin: 0 auto; }

._26Mxyvd-lieQazLvym1liM {
  margin-top: 20px;
  margin: 0 auto; }

._26Mxyvd-lieQazLvym1liM {
  position: relative; }
  ._26Mxyvd-lieQazLvym1liM ._2Aonrw9L9_jDtpTRQm9alD {
    margin-top: 20px; }

._3Qxt13qHNtDMfLVz_Ojd8H a {
  display: inline-block;
  padding: 5px 10px;
  background: #eee;
  color: #666;
  text-decoration: none;
  margin: 10px 10px 0 0;
  border-radius: 4px; }

._3Qxt13qHNtDMfLVz_Ojd8H a:hover {
  background: #f15623;
  color: #fff; }

._1p-TfGxkUEezJxRGHPErHY {
  /*line-height: 1.6em;*/
  max-width: 750px;
  margin: 0 auto;
  font-family: "icomoon"; }
  ._1p-TfGxkUEezJxRGHPErHY span {
    height: 60px;
    line-height: 60px;
    color: #999; }

._25sx6qkhHbrB8NtvXc5gxu {
  font-size: 20px;
  margin-right: 5px;
  /*margin-left: 10px;*/ }

._2rEegPOZCrApK3dXaOqBeC,
._1p-TfGxkUEezJxRGHPErHY,
._3Qxt13qHNtDMfLVz_Ojd8H {
  max-width: 750px;
  margin: 0 auto;
  background: white;
  font-size: 16px;
  color: #333;
  line-height: 1.6em;
  box-sizing: border-box;
  /*padding-top: 30px;*/ }

._3MWNvasJYoLB8omPp1vcFF {
  text-align: center; }

.nzlFSyFp2tTbWh24mDCqC {
  display: inline-block;
  cursor: pointer;
  font-size: 40px;
  height: 75px;
  line-height: 75px;
  color: #999;
  width: 75px;
  margin: 3px 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 100px;
  position: relative;
  cursor: pointer; }

.nzlFSyFp2tTbWh24mDCqC._36DmcbWt5M95IEnOZgLsxD,
.nzlFSyFp2tTbWh24mDCqC:hover {
  color: #f15623;
  border-color: #f15623;
  border-width: 1px; }
  .nzlFSyFp2tTbWh24mDCqC._36DmcbWt5M95IEnOZgLsxD span,
  .nzlFSyFp2tTbWh24mDCqC:hover span {
    color: #f15623; }

._2rEegPOZCrApK3dXaOqBeC {
  padding: 0;
  line-height: 1.6em; }

._33Hml4JES6luTl61VN0S6I {
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  text-align: right;
  padding: 5px 0; }
  ._33Hml4JES6luTl61VN0S6I img {
    width: 700px; }

._2zJfMrWM1X7f4owUi59oOx {
  background: #fafafa;
  padding: 10px; }
  ._2zJfMrWM1X7f4owUi59oOx ._1icQrTFXKTu5tpAYrPy3iR {
    max-width: 750px;
    margin: 0 auto; }

@media (max-width: 800px) {
  .-eTRhEyrj45QoCHDZlTxJ {
    padding-left: 0;
    padding-right: 0; }
  ._2rEegPOZCrApK3dXaOqBeC {
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.8em; }
    ._2rEegPOZCrApK3dXaOqBeC ._1-fSS13YAVk0RHKyYdwT1H img {
      max-width: 100%;
      width: 40px;
      height: 40px; }
    ._2rEegPOZCrApK3dXaOqBeC h1 {
      /*color:#333;*/
      font-size: 22px;
      margin: 20px 0 10px 0;
      font-weight: bolder; }
    ._2rEegPOZCrApK3dXaOqBeC h2 {
      font-size: 18px; }
    ._2rEegPOZCrApK3dXaOqBeC h3 {
      font-size: 17px; }
    ._2rEegPOZCrApK3dXaOqBeC h4 {
      font-size: 16px; }
    ._2rEegPOZCrApK3dXaOqBeC h5 {
      font-size: 15px; }
    ._2rEegPOZCrApK3dXaOqBeC h6 {
      font-size: 14px; }
    ._2rEegPOZCrApK3dXaOqBeC code {
      margin: 3px; }
  ._3HgCF43kqKyVTh0SU0aqG2 {
    margin-bottom: 0px; }
  ._3Qxt13qHNtDMfLVz_Ojd8H {
    padding: 0 20px 20px 20px; }
  ._3Qxt13qHNtDMfLVz_Ojd8H a {
    font-size: 14px;
    padding: 0px 5px;
    border-radius: 0; }
  ._1p-TfGxkUEezJxRGHPErHY {
    padding: 0 20px;
    color: #ccc; }
  ._1p-TfGxkUEezJxRGHPErHY span {
    margin-right: 10px; }
  ._1p-TfGxkUEezJxRGHPErHY span._25sx6qkhHbrB8NtvXc5gxu {
    font-size: 14px;
    margin-right: 5px; }
  .uYXY9n8e1fuufgdI5JKnb {
    display: none; }
  .nzlFSyFp2tTbWh24mDCqC {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    border-width: 2px; }
  ._3HgCF43kqKyVTh0SU0aqG2 {
    margin-bottom: 0px; }
  ._36XLedZINGhNDHgK3TxUGj {
    height: 20px;
    line-height: 20px; }
  ._33Hml4JES6luTl61VN0S6I {
    display: none; }
  ._1p-TfGxkUEezJxRGHPErHY {
    padding: 0 20px;
    color: #ccc; }
  ._1p-TfGxkUEezJxRGHPErHY span {
    margin-right: 10px; }
  ._1p-TfGxkUEezJxRGHPErHY span._25sx6qkhHbrB8NtvXc5gxu {
    font-size: 14px;
    margin-right: 5px; }
  .uYXY9n8e1fuufgdI5JKnb {
    display: none; }
  ._3Qxt13qHNtDMfLVz_Ojd8H {
    padding: 0 20px 20px 20px; }
  ._3Qxt13qHNtDMfLVz_Ojd8H a {
    font-size: 14px;
    padding: 0px 5px;
    border-radius: 0; } }

/*

Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage

Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8; }

.hljs-comment, .hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string, .hljs-doctag {
  color: #d14; }

.hljs-title, .hljs-section, .hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type, .hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag, .hljs-name, .hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp, .hljs-link {
  color: #009926; }

.hljs-symbol, .hljs-bullet {
  color: #990073; }

.hljs-built_in, .hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy blockquote {
  border-left: 4px solid #ddd;
  margin-left: 0;
  padding-left: 15px;
  color: #777; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h1,
.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h2,
.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h3,
.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h4,
.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h5,
.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h6 {
  /*color:#8F8F8F;*/
  margin: 29px auto 0;
  font-weight: 300;
  line-height: 1.8em;
  max-width: 750px; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h1 {
  /*color:#333;*/
  font-size: 2em;
  margin-bottom: 20px; }


.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h2 {
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
  font-size: 1.5em; }


.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h3 {
  font-size: 1.25em; }


.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h4 {
  font-size: 1em; }


.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h5 {
  font-size: 0.875em; }


.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy h6 {
  font-size: 0.85em; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy p {
  margin: 10px auto;
  max-width: 750px; }
  .Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy p img {
    max-width: 1000px;
    max-width: 100%;
    transform: translate(-50%);
    position: relative;
    left: 50%; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy a {
  color: #f15623;
  /*text-decoration: none;*/ }
  .Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy a:hover {
    text-decoration: underline; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy table {
  max-width: 750px;
  margin: 0 auto; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy table,
.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy td,
.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy th {
  padding: 5px 15px;
  border-collapse: collapse;
  border: 1px solid #ececec; }


.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy td {
  color: #666; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  /*border-radius: 2px;*/ }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy pre code {
  overflow: auto;
  padding: 10px;
  display: block;
  /*width: 100%;*/
  margin: 3px auto; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy hr {
  margin: 28px 0;
  border: none;
  border-bottom: 1px solid #f3ecec; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy img {
  max-width: 100%; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy ol,
.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy ul {
  margin: 3px auto;
  max-width: 750px;
  line-height: 1.6em; }

.Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy li {
  line-height: 1.39em;
  padding-top: 5px;
  padding-bottom: 5px; }

@keyframes _3Uv5c65LPWA06p4lwGvHwb {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.FTKOSpt0-gyUx0awJX6CY, .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._3t0zk-WB1FR_x3uH0K2XZ5 .nQ2GaJQarULH9sUZyka4L,
.Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._3t0zk-WB1FR_x3uH0K2XZ5 ._3BxuWrMjw1vl7z0efKhrvM,
.Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._3t0zk-WB1FR_x3uH0K2XZ5 ._3W4TNWqYJ7oThoTU2AAuA9 {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: _3Uv5c65LPWA06p4lwGvHwb;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

.Juinbm7dMUMw-IlJAWGM3 {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0;
  color: #666;
  font-size: 14px; }
  .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF {
    transition: all 0.3s ease-in;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in; }
    .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._3t0zk-WB1FR_x3uH0K2XZ5 .nQ2GaJQarULH9sUZyka4L {
      width: 40px;
      height: 40px; }
    .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._3t0zk-WB1FR_x3uH0K2XZ5 ._3BxuWrMjw1vl7z0efKhrvM {
      width: 150px;
      height: 18px;
      margin-bottom: 10px; }
    .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._3t0zk-WB1FR_x3uH0K2XZ5 ._3W4TNWqYJ7oThoTU2AAuA9 {
      height: 15px;
      margin: 5px 0; }
      .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._3t0zk-WB1FR_x3uH0K2XZ5 ._3W4TNWqYJ7oThoTU2AAuA9:last-child {
        width: 50px; }
    .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._1uLLRug3d0wJ7w0yRSvAw8 {
      box-shadow: 0 0 10px rgba(0, 114, 255, 0.2); }
      .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._1uLLRug3d0wJ7w0yRSvAw8 .ZvBzSYEzqaRIn5Xent0zs {
        display: none; }
      .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._1uLLRug3d0wJ7w0yRSvAw8 .P3y2APt27Ojm0be94RKAV {
        padding: 10px 0;
        height: auto; }
      .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._1uLLRug3d0wJ7w0yRSvAw8 ._2BfXrPVUDbcl3NyhIJEfh6 {
        display: block; }
      .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._1uLLRug3d0wJ7w0yRSvAw8 ._2OvkdJJHbHnknAHk2bDeIL {
        display: inline-block; }
    .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF._3hk8IPWEbWZlR9BtAAxyNV ._2IaPiZ7_FnLjgoev96mors {
      display: block; }
  .Juinbm7dMUMw-IlJAWGM3 .e6TyYcV-QVhfdQnYfY2I {
    overflow: hidden; }
  .Juinbm7dMUMw-IlJAWGM3 .ZvBzSYEzqaRIn5Xent0zs {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #ccc;
    display: block; }
  .Juinbm7dMUMw-IlJAWGM3 ._2BfXrPVUDbcl3NyhIJEfh6 {
    height: 30px;
    margin-left: 5px;
    font-family: "icomoon";
    line-height: 30px;
    font-size: 20px;
    font-size: 14px;
    color: #f15623;
    cursor: pointer;
    padding: 0 5px; }
  .Juinbm7dMUMw-IlJAWGM3 .P3y2APt27Ojm0be94RKAV {
    padding: 0;
    outline: none;
    line-height: 1.6em;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.2s ease-in; }
  .Juinbm7dMUMw-IlJAWGM3 ._2OvkdJJHbHnknAHk2bDeIL {
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 1px solid #f15623;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 20px;
    background: #f15623;
    color: #fff; }
    .Juinbm7dMUMw-IlJAWGM3 ._2OvkdJJHbHnknAHk2bDeIL:hover {
      background: #f4f4f4;
      color: #666; }
  .Juinbm7dMUMw-IlJAWGM3 ._3yqi1C4V2TwVX1tzFwneJ1 {
    margin-left: 50px; }
    .Juinbm7dMUMw-IlJAWGM3 ._3yqi1C4V2TwVX1tzFwneJ1 ._1yFz4H7NDfTaRU4mPYeCi {
      transition: all ease-out 0.2s;
      height: 0;
      overflow: hidden; }
      .Juinbm7dMUMw-IlJAWGM3 ._3yqi1C4V2TwVX1tzFwneJ1 ._1yFz4H7NDfTaRU4mPYeCi._1uLLRug3d0wJ7w0yRSvAw8 {
        height: auto; }
    .Juinbm7dMUMw-IlJAWGM3 ._3yqi1C4V2TwVX1tzFwneJ1 ._2XizBGH_29nXC5yAKUWEG9 {
      width: 100%; }
    .Juinbm7dMUMw-IlJAWGM3 ._3yqi1C4V2TwVX1tzFwneJ1 input {
      padding: 5px;
      border: none;
      display: block;
      width: 100%;
      margin: 5px;
      outline: none;
      font-size: 14px;
      border-bottom: 1px solid #f4f4f4;
      box-sizing: border-box; }
    .Juinbm7dMUMw-IlJAWGM3 ._3yqi1C4V2TwVX1tzFwneJ1 ._2NUSD-5tJEErvfXE0boxb6 {
      box-sizing: border-box;
      font-size: 14px;
      display: block;
      padding: 10px;
      outline: none;
      height: 6em;
      background: #fafafa;
      border: none;
      width: 100%;
      margin: 10px 0px 10px 5px; }
  .Juinbm7dMUMw-IlJAWGM3 .hX_pHNc2Gi8tm_YqxkhUH {
    overflow: hidden; }
  .Juinbm7dMUMw-IlJAWGM3 ._3CxewRvSpgQLswBwabPvB {
    float: left;
    margin-right: 10px; }
    .Juinbm7dMUMw-IlJAWGM3 ._3CxewRvSpgQLswBwabPvB img,
    .Juinbm7dMUMw-IlJAWGM3 ._3CxewRvSpgQLswBwabPvB .nQ2GaJQarULH9sUZyka4L {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: url("//avatar.zhuwenlong.com/avatar/");
      background-size: cover; }
  .Juinbm7dMUMw-IlJAWGM3 ._2UVlHrNmvx4NOWlXPSJZ8s {
    padding: 0 5px;
    height: 25px;
    line-height: 25px; }
    .Juinbm7dMUMw-IlJAWGM3 ._2UVlHrNmvx4NOWlXPSJZ8s a {
      color: #f15623;
      font-size: 14px; }
  .Juinbm7dMUMw-IlJAWGM3 ._1YSusY-xjTRyKyzs5xT_cT {
    height: 25px;
    line-height: 25px;
    color: #999;
    font-size: 12px; }
  .Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy {
    max-height: 600px;
    overflow: auto;
    padding: 5px;
    line-height: 1.6em; }
    .Juinbm7dMUMw-IlJAWGM3 ._2HQ2IZPont_6sIAl1oB2uy p img {
      left: 0;
      transform: none; }
  .Juinbm7dMUMw-IlJAWGM3 ._3iemrba2D61IolD4-c2t3N {
    margin-top: 10px;
    font-family: 'icomoon';
    overflow: hidden;
    color: #999; }
  .Juinbm7dMUMw-IlJAWGM3 ._3GEYAWw31B3_wnjMzalaro {
    float: left;
    cursor: pointer; }
    .Juinbm7dMUMw-IlJAWGM3 ._3GEYAWw31B3_wnjMzalaro._1uLLRug3d0wJ7w0yRSvAw8 {
      color: #f15623; }
    .Juinbm7dMUMw-IlJAWGM3 ._3GEYAWw31B3_wnjMzalaro._1uLLRug3d0wJ7w0yRSvAw8 .UBxjVJ99EDzo-NKZTK1B,
    .Juinbm7dMUMw-IlJAWGM3 ._3GEYAWw31B3_wnjMzalaro:hover .UBxjVJ99EDzo-NKZTK1B {
      display: none; }
    .Juinbm7dMUMw-IlJAWGM3 ._3GEYAWw31B3_wnjMzalaro._1uLLRug3d0wJ7w0yRSvAw8 ._2rOqiG2kj5jVir9tI0eMvu,
    .Juinbm7dMUMw-IlJAWGM3 ._3GEYAWw31B3_wnjMzalaro:hover ._2rOqiG2kj5jVir9tI0eMvu {
      display: inline-block;
      color: #f15623; }
  .Juinbm7dMUMw-IlJAWGM3 ._2rOqiG2kj5jVir9tI0eMvu,
  .Juinbm7dMUMw-IlJAWGM3 .UBxjVJ99EDzo-NKZTK1B {
    display: inline-block;
    padding: 0 5px 0 0; }
  .Juinbm7dMUMw-IlJAWGM3 ._2rOqiG2kj5jVir9tI0eMvu {
    display: none; }
  .Juinbm7dMUMw-IlJAWGM3 ._2IaPiZ7_FnLjgoev96mors {
    display: none;
    font-family: "icomoon";
    cursor: pointer;
    float: right; }
    .Juinbm7dMUMw-IlJAWGM3 ._2IaPiZ7_FnLjgoev96mors:hover hover {
      color: #f15623; }

@media (max-width: 800px) {
  .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF {
    padding: 10px 20px;
    margin-bottom: 1px; }
  .Juinbm7dMUMw-IlJAWGM3 ._1QmDLfLK8N_5i4YOorR4kF ._3CxewRvSpgQLswBwabPvB img {
    height: 30px;
    width: 30px; }
  .Juinbm7dMUMw-IlJAWGM3 .ZvBzSYEzqaRIn5Xent0zs {
    height: 30px;
    line-height: 30px;
    font-size: 16px; }
  .Juinbm7dMUMw-IlJAWGM3 ._37j2FVhlHMv5xQcShPf3xU {
    padding: 10px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #ffffff; }
  .Juinbm7dMUMw-IlJAWGM3 ._3CxewRvSpgQLswBwabPvB img {
    width: 40px;
    height: 40px; }
  .Juinbm7dMUMw-IlJAWGM3 ._2UVlHrNmvx4NOWlXPSJZ8s {
    height: 20px;
    line-height: 20px; }
  .Juinbm7dMUMw-IlJAWGM3 ._1YSusY-xjTRyKyzs5xT_cT {
    height: 20px;
    line-height: 20px; }
  .Juinbm7dMUMw-IlJAWGM3 ._2IaPiZ7_FnLjgoev96mors {
    display: block; } }

@keyframes _2D0VuwPVyTsrZdMG7s_2SM {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

._3qm1oh5rx4ZDHYrkqHmgbs, ._2455e1Nch7v_rc0CxmPZqg._2qd64QAvRdmWz6bbwPasu3 .maMzqgLTNA6onSgiJ6ftU,
._2455e1Nch7v_rc0CxmPZqg._2qd64QAvRdmWz6bbwPasu3 ._fAGxcmTaCMrkbSEUDbBU,
._2455e1Nch7v_rc0CxmPZqg._2qd64QAvRdmWz6bbwPasu3 .gjWBISYXHI_ScuTycLqsz {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: _2D0VuwPVyTsrZdMG7s_2SM;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

body a {
  color: #f15623;
  text-decoration: none; }

._3EU5GjZ8VSSqAidjkrLONO {
  padding: 50px 10px 0 10px;
  background: #f7f7f7; }

._22ENfXDU0Txx_e66SzGbAd {
  max-width: 1200px;
  min-width: 800px;
  padding: 10px 0px 50px 0px;
  box-sizing: border-box;
  margin: 0 auto; }

._3uXeikTK70sUYiDHW75rCd {
  overflow: hidden;
  color: #333; }

._2455e1Nch7v_rc0CxmPZqg {
  overflow: hidden;
  float: left;
  width: 30%;
  margin: 1.5%;
  height: 400px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); }
  ._2455e1Nch7v_rc0CxmPZqg img {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    transition: all 0.4s ease-in; }
  ._2455e1Nch7v_rc0CxmPZqg._2qd64QAvRdmWz6bbwPasu3 .maMzqgLTNA6onSgiJ6ftU,
  ._2455e1Nch7v_rc0CxmPZqg._2qd64QAvRdmWz6bbwPasu3 ._fAGxcmTaCMrkbSEUDbBU,
  ._2455e1Nch7v_rc0CxmPZqg._2qd64QAvRdmWz6bbwPasu3 .gjWBISYXHI_ScuTycLqsz {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    display: inline-block; }
  ._2455e1Nch7v_rc0CxmPZqg._2qd64QAvRdmWz6bbwPasu3 ._3FFQZV7xQVYdMqjrXBOnRV {
    width: 100%;
    height: 257px;
    border: 2px solid #fff;
    box-sizing: border-box; }
  ._2455e1Nch7v_rc0CxmPZqg._2qd64QAvRdmWz6bbwPasu3 ._fAGxcmTaCMrkbSEUDbBU {
    width: 150px; }
  ._2455e1Nch7v_rc0CxmPZqg._2qd64QAvRdmWz6bbwPasu3 .gjWBISYXHI_ScuTycLqsz {
    display: block;
    width: 100%;
    margin: 5px 0; }

._fAGxcmTaCMrkbSEUDbBU {
  font-weight: bold;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px; }

.gjWBISYXHI_ScuTycLqsz {
  overflow: hidden;
  color: #666; }

._1FFNwtC6TM12HWfXAB_SGA {
  color: #666; }

._1FFNwtC6TM12HWfXAB_SGA a {
  display: inline-block;
  margin: 0 5px; }

._1_Cc6MAqZ-sfz314XsxgVB {
  overflow: hidden; }

._3xz5tm5J1hg0v8q7Mw8YWQ {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #777; }

@media (max-width: 800px) {
  ._3EU5GjZ8VSSqAidjkrLONO {
    padding-left: 0;
    padding-right: 0; }
  ._1_Cc6MAqZ-sfz314XsxgVB {
    padding: 0 10px; }
  ._3mQ_Vn2523l3LhWIlJO8EQ li a {
    color: #fff;
    background: rgba(51, 51, 51, 0.95);
    border-bottom: 1px solid #484848; }
  ._22ENfXDU0Txx_e66SzGbAd {
    min-width: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; }
  ._2455e1Nch7v_rc0CxmPZqg {
    float: inherit;
    width: auto;
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 20px; }
  ._2455e1Nch7v_rc0CxmPZqg img {
    max-width: 100%; } }

@keyframes _3Ef9G4W9YTxi4c7Uta-BHQ {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

._1HdoFkM43B9hEXQFXCekJO, ._2P1cNmt1FzoSNORDd8qgkc._1ezj_wh5aNr7dehKP8C8di ._3qgvlPX0bsq4k5ufkoBDEB,
._2P1cNmt1FzoSNORDd8qgkc._1ezj_wh5aNr7dehKP8C8di ._1MUD1GvpMS3_cQF5ouOEr-,
._2P1cNmt1FzoSNORDd8qgkc._1ezj_wh5aNr7dehKP8C8di .li0TslFzBAzKDmlOxVvQi {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: _3Ef9G4W9YTxi4c7Uta-BHQ;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

body a {
  color: #f15623;
  text-decoration: none; }

._2NYFBKVgoCF2s-0RONx3Cw {
  padding: 50px 10px 0 10px;
  background: #f7f7f7; }

._1JrTQXsk2CCJha39LhKDHy {
  max-width: 1200px;
  min-width: 800px;
  padding: 10px 0px 50px 0px;
  box-sizing: border-box;
  margin: 0 auto; }

._1bOwACX_WkzInOM2uqXGcH {
  overflow: hidden;
  color: #333; }

._2P1cNmt1FzoSNORDd8qgkc {
  overflow: hidden;
  float: left;
  width: 30%;
  margin: 1.5%;
  height: 400px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); }
  ._2P1cNmt1FzoSNORDd8qgkc img {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    transition: all 0.4s ease-in; }
  ._2P1cNmt1FzoSNORDd8qgkc._1ezj_wh5aNr7dehKP8C8di ._3qgvlPX0bsq4k5ufkoBDEB,
  ._2P1cNmt1FzoSNORDd8qgkc._1ezj_wh5aNr7dehKP8C8di ._1MUD1GvpMS3_cQF5ouOEr-,
  ._2P1cNmt1FzoSNORDd8qgkc._1ezj_wh5aNr7dehKP8C8di .li0TslFzBAzKDmlOxVvQi {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    display: inline-block; }
  ._2P1cNmt1FzoSNORDd8qgkc._1ezj_wh5aNr7dehKP8C8di ._23YPFQSuGSyQTHwFWRh-XP {
    width: 100%;
    height: 257px;
    border: 2px solid #fff;
    box-sizing: border-box; }
  ._2P1cNmt1FzoSNORDd8qgkc._1ezj_wh5aNr7dehKP8C8di ._1MUD1GvpMS3_cQF5ouOEr- {
    width: 150px; }
  ._2P1cNmt1FzoSNORDd8qgkc._1ezj_wh5aNr7dehKP8C8di .li0TslFzBAzKDmlOxVvQi {
    display: block;
    width: 100%;
    margin: 5px 0; }

._1MUD1GvpMS3_cQF5ouOEr- {
  font-weight: bold;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px; }

.li0TslFzBAzKDmlOxVvQi {
  overflow: hidden;
  color: #666; }

._2WjMHdHvy1cwARoEvRGp_3 {
  color: #666; }

._2WjMHdHvy1cwARoEvRGp_3 a {
  display: inline-block;
  margin: 0 5px; }

._1hRQygPPxVLbtS0oBq8yu- {
  overflow: hidden; }

.k6EbCrNa1GDGBYF9k6YKG {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #777; }

@media (max-width: 800px) {
  ._2NYFBKVgoCF2s-0RONx3Cw {
    padding-left: 0;
    padding-right: 0; }
  ._1hRQygPPxVLbtS0oBq8yu- {
    padding: 0 10px; }
  ._2nMpi8cpfvR5ugS46zNEXX li a {
    color: #fff;
    background: rgba(51, 51, 51, 0.95);
    border-bottom: 1px solid #484848; }
  ._1JrTQXsk2CCJha39LhKDHy {
    min-width: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; }
  ._2P1cNmt1FzoSNORDd8qgkc {
    float: inherit;
    width: auto;
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 20px; }
  ._2P1cNmt1FzoSNORDd8qgkc img {
    max-width: 100%; } }

@keyframes _3mqxg8zkJh7jZGdvgZXFhr {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

._326Mg8xzzEEKAf3pf1Z-QX, ._2zdsIbzB5lKjW2awj7y9lm ._1VK1NU1u9sR4Usf1fXCpQy a span ._10g-DOeN8nRTSGb78dDL1o {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: _3mqxg8zkJh7jZGdvgZXFhr;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

._2nMvoo6AOSaoJjPemJ0NMU {
  background: #f4f4f4; }
  ._2nMvoo6AOSaoJjPemJ0NMU .itzsOyFaBVD1AFnXRH--A {
    padding: 50px 10px 0 10px;
    max-width: 1200px;
    margin: 0 auto; }
  ._2nMvoo6AOSaoJjPemJ0NMU ._1IlgBEY1CIM1jW2JNcpS_b {
    margin-right: 370px; }

._2erZsFGjYbk8JeKC3ey4hf {
  position: relative;
  overflow: hidden; }

._1iQ7c11GPJnvrmu4K--Fvu {
  width: 330px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease-in; }

._2zdsIbzB5lKjW2awj7y9lm ._2mXLoZbu0uMLPwYrqf7baQ {
  background-color: #24292e;
  color: rgba(255, 255, 255, 0.75);
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  fill: rgba(255, 255, 255, 0.75); }
  ._2zdsIbzB5lKjW2awj7y9lm ._2mXLoZbu0uMLPwYrqf7baQ svg {
    vertical-align: middle;
    width: 22px;
    height: 22px; }
  ._2zdsIbzB5lKjW2awj7y9lm ._2mXLoZbu0uMLPwYrqf7baQ span {
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block; }
  ._2zdsIbzB5lKjW2awj7y9lm ._2mXLoZbu0uMLPwYrqf7baQ a {
    float: right;
    padding: 5px 10px;
    background: #f15623;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    height: 16px;
    line-height: 16px;
    margin-top: 7px; }

._2zdsIbzB5lKjW2awj7y9lm ._1VK1NU1u9sR4Usf1fXCpQy {
  overflow: hidden;
  background: white;
  font-size: 14px; }
  ._2zdsIbzB5lKjW2awj7y9lm ._1VK1NU1u9sR4Usf1fXCpQy a {
    display: inline-block;
    width: 33.3%;
    box-sizing: border-box;
    padding: 5px 0;
    border-right: 1px solid #eee; }
    ._2zdsIbzB5lKjW2awj7y9lm ._1VK1NU1u9sR4Usf1fXCpQy a span {
      line-height: 1.46em;
      display: block;
      text-align: center; }
      ._2zdsIbzB5lKjW2awj7y9lm ._1VK1NU1u9sR4Usf1fXCpQy a span ._10g-DOeN8nRTSGb78dDL1o {
        display: inline-block;
        height: 15px;
        width: 40px; }
      ._2zdsIbzB5lKjW2awj7y9lm ._1VK1NU1u9sR4Usf1fXCpQy a span._3nc4Ves8bEjfahMDDkwbkv {
        text-align: center;
        font-weight: bolder; }
    ._2zdsIbzB5lKjW2awj7y9lm ._1VK1NU1u9sR4Usf1fXCpQy a:last-child {
      border: none; }

@media (max-width: 800px) {
  ._1iQ7c11GPJnvrmu4K--Fvu {
    position: relative;
    width: auto;
    margin: 0 auto;
    right: auto;
    top: auto;
    margin-bottom: 20px; }
  ._2nMvoo6AOSaoJjPemJ0NMU ._1IlgBEY1CIM1jW2JNcpS_b {
    margin-right: 0px; } }

@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url(//cdn.blog.com/asset/media/OpenSans-Light.eot);
  src: url(//cdn.blog.com/asset/media/OpenSans-Light.eot#iefix) format("embedded-opentype"), url(//cdn.blog.com/asset/media/OpenSans-Light.ttf) format("truetype"), url(//cdn.blog.com/asset/media/OpenSans-Light.woff) format("woff"), url(//cdn.blog.com/asset/media/OpenSans-Light.svg#OpenSans-Light) format("svg");
  font-weight: normal;
  font-style: normal; }

body,
h1,
h2 {
  font-family: Open Sans, Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, ”Hiragino Sans GB”, Simsun, sans-self; }

