@import "../../../commons/comment.module.scss";
@import "../../../commons/codeStyle.module.scss";

.articleBody {
  background: white;
  padding: 10px 20px 0 20px;
}

.readBar {
  height: 4px;
  width: 100%;
  background: #ef9374;
  position: fixed;
  top: 46px;
  left: 0;
  right: 0;
  z-index: 100001;
  transition: all ease-in 0.03s;
}

.articleContent {
  max-width: 1200px;
  margin: 0 auto;
}

.blog {
  margin-top: 20px;
  margin: 0 auto;
}

.blog {
  position: relative;

  .article {
    margin-top: 20px;
  }
}

.article-tags {
  a {
    display: inline-block;
    padding: 5px 10px;
    background: #eee;
    color: #666;
    text-decoration: none;
    margin: 10px 10px 0 0;
    border-radius: 4px;
  }

  a:hover {
    background: #f15623;
    color: #fff;
  }
}

.article-info {
  max-width: 1000px;
  margin: 0 auto;
}

.article-content,
.article-info,
.article-tags,
.wechat {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  font-size: 16px;
  color: #333;
  line-height: 1.6em;
  box-sizing: border-box;
}

.article-info-count {
  color: #999;
  padding: 10px 0;
  font-size: 18px;

  .article-info-icon {
    font-size: 16px;
    margin-right: 5px;
  }
}

.blog-content {
  word-break: break-all;
}

.article-fns {
  margin-top: 10px;
  text-align: center;
}

$secondary-color: red;

// Like it button
// 
.like-btn-do-anim {

  .like-btn-selflikecount {
    animation: like_count_animation ease-in 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
  }

  .like-btn-icon {
    animation: like_icon_animation ease-in .3s;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
  }

  .like-btn-animation {
    &-item {
      opacity: 1;
    }

    animation: like_outside_animation linear .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.like-btn:hover,
.like-btn-active {
  .like-btn-icon {
    color: #f15623;
    box-shadow: 0 0 50px change-color($secondary-color, $alpha: 0.2);
    border: 0.5px solid #f15623;
  }
}

.like-btn-active {
  .like-btn-icon {
    box-shadow: none;
  }
}

// place holder for animation
.like-btn {
  $iconWidth: 60px;

  position: relative;
  border: none;
  background: white;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  font-size: $iconWidth * 0.5;
  height: $iconWidth;
  line-height: $iconWidth;
  color: #999;
  width: $iconWidth;
  margin: 3px 10px;
  text-align: center;

  &-selflikecount {
    background: #f05623;
    position: absolute;
    top: -45px;
    left: $iconWidth*0.5 - $iconWidth * 0.618 * 0.5;
    font-size: 12px;
    opacity: 0;
    color: #fff;
    height: 12px;
    font-weight: bold;
    border-radius: 400px;
    width: $iconWidth * 0.618;
    height: $iconWidth * 0.618;
    line-height: $iconWidth * 0.618;
  }

  &-icon {
    border-radius: 100px;
    width: $iconWidth;
    height: $iconWidth;
    line-height: $iconWidth;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    border-width: 1px;
    border: 0.5px solid #ccc;

    // box-shadow: 0 0 50px change-color($secondary-color, $alpha: 0.2);
    // color: #f15623;

    // border: 0.5px solid #f15623;
  }

  &-animation {
    position: absolute;
    width: $iconWidth;
    height: $iconWidth;
    left: 0;
    top: 0;
    transform-origin: 50% 50%;



    &-item {
      width: $iconWidth;
      height: $iconWidth;
      transform-origin: 50% 50%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      // background-color: red;

      &:nth-child(0) {
        transform: rotate(0deg);
      }

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(90deg);
      }

      &:nth-child(3) {
        transform: rotate(135deg);
      }

      &:nth-child(4) {
        transform: rotate(180deg);
      }

      &:nth-child(5) {
        transform: rotate(225deg);
      }

      &:nth-child(6) {
        transform: rotate(270deg);
      }

      &:nth-child(7) {
        transform: rotate(315deg);
      }

      &:nth-child(2n+1) {
        &:before {
          background-color: transparent;
          width: 0;
          height: 0;
          border-top: 1px solid transparent;
          border-bottom: 2px solid transparent;
          border-left: 6px solid #ee6f70;
          transform: rotate(45deg);
          border-radius: 0;
        }
      }

      &:before {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        content: '';
        background-color: #52c3bd;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}


@keyframes like_icon_animation {
  0% {
    transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
  }

  28% {
    transform: rotate(-28deg) scaleX(1.26) scaleY(1.25);
  }

  74% {
    transform: rotate(0deg) scaleX(1.09) scaleY(1.09);
  }

  100% {
    transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
  }
}

@keyframes like_outside_animation {
  0% {
    opacity: 1;
    transform: scaleX(1.00) scaleY(1.00);
  }

  100% {
    opacity: 0;
    transform: scaleX(1.50) scaleY(1.50);
  }
}

@keyframes like_count_animation {
  0% {
    opacity: 0.4;
    transform: scaleX(0.8) scaleY(0.8);
  }

  20% {
    opacity: 1;
    top: -40px;
    transform: scaleX(1) scaleY(1);
  }

  60% {
    opacity: 1;
    top: -40px;
    transform: scaleX(1) scaleY(1);
  }

  100% {
    top: -80px;
    opacity: 0;
    transform: scaleX(1) scaleY(1);
  }
}


//
.article-content {
  padding: 0;
  line-height: 1.6em;
  @extend %code;

  a {
    text-decoration: none;
  }

}

.blog-money {
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  text-align: right;
  padding: 5px 0;

  img {
    width: 700px;
  }
}

.message {
  background: #fafafa;
  padding: 10px;

  .messageBox {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.wechat {
  border-top: 1px dashed #f4f4f4;
  border-bottom: 1px dashed #f4f4f4;
  text-align: center;
  margin: 10px auto;
  padding: 10px 0;

  p {
    margin: 3px;
    line-height: 20px;
  }

  .wechat_txt {
    font-size: 14px;
  }

  img {
    width: 43px * 3;
  }
}

@media (max-width: 800px) {
  .article-content {
    font-size: 14px;
  }
}